<div class="row fadeIn">
  <div class="col-12">
    <p>You can use differente colors in buttons. With Boostrap buttons theme add class <code>class="btn btn-name-color"</code>. For Angular add attributes 'mat-button' and 'color' <code>mat-button color="name-color"</code>.</p>
    <p class="highlight">Component name: <code>src/app/components/template/view/view-buttons</code></p>
  </div>

  <div class="col-12 col-sm-6 col-md-6 py-2">
    <div class="card">
      <h5 class="card-title">
        Bootsrtap Buttons
      </h5>
      <div class="card-body">
        <button class="btn btn-default">Default</button>
        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
          title="Tooltip on top">Primary</button>
        <button class="btn btn-success">Success</button>
        <button class="btn btn-info">Info</button>
        <button class="btn btn-warning">Warning</button>
        <button class="btn btn-danger">Danger</button>
        <button class="btn btn-dark">Dark</button>
        <button class="btn btn-default" disabled>Disabled</button>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-6 py-2">
    <div class="card">
      <h5 class="card-title"> Basic Buttons </h5>
      <div class="card-body">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="success">Success</button>
        <button mat-button color="info">Info</button>
        <button mat-button color="warning">Warning</button>
        <button mat-button color="danger">Danger</button>
        <button mat-button color="dark">Dark</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button routerLink=".">Link</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-6 py-2">
    <div class="card">
      <h5 class="card-title"> Raised Buttons </h5>
      <div class="card-body">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="success">Success</button>
        <button mat-raised-button color="info">Info</button>
        <button mat-raised-button color="warning">Warning</button>
        <button mat-raised-button color="danger">Danger</button>
        <button mat-raised-button color="dark">Dark</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button>Link</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-6 py-2">
    <div class="card">
      <h5 class="card-title"> Stroked Buttons </h5>
      <div class="card-body">
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="success">Success</button>
        <button mat-stroked-button color="info">Info</button>
        <button mat-stroked-button color="warning">Warning</button>
        <button mat-stroked-button color="danger">Danger</button>
        <button mat-stroked-button color="dark">dark</button>
        <button mat-stroked-button disabled>Disabled</button>
        <a mat-stroked-button routerLink=".">Link</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-6 py-2">
    <div class="card">
      <h5 class="card-title"> Flat Buttons </h5>
      <div class="card-body">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="success">Success</button>
        <button mat-flat-button color="info">Info</button>
        <button mat-flat-button color="warning">Warning</button>
        <button mat-flat-button color="danger">Danger</button>
        <button mat-flat-button color="dark">Dark</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button routerLink=".">Link</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-6 py-2">
    <div class="card">
      <h5 class="card-title"> Icon Buttons </h5>
      <div class="card-body">
        <button mat-icon-button aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="success" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="info" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="warning" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="danger" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="dark" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-6 py-2">
    <div class="card">
      <h5 class="card-title"> Fab Buttons </h5>
      <div class="card-body">
        <button mat-fab color="basic">Basic</button>
        <button mat-fab color="primary">Primary</button>
        <button mat-fab color="success">Success</button>
        <button mat-fab color="info">info</button>
        <button mat-fab color="warning">warning</button>
        <button mat-fab color="danger">Danger</button>
        <button mat-fab disabled>Disabled</button>
        <button mat-fab color="danger" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <a mat-fab routerLink=".">Link</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-6 py-2">
    <div class="card">
      <h5 class="card-title"> Mini Fab Buttons </h5>
      <div class="card-body">
        <button mat-mini-fab color="basic">Basic</button>
        <button mat-mini-fab color="primary">Primary</button>
        <button mat-mini-fab color="success">success</button>
        <button mat-mini-fab color="info">info</button>
        <button mat-mini-fab color="warning">warning</button>
        <button mat-mini-fab color="danger">Danger</button>
        <button mat-mini-fab disabled>Disabled</button>
        <button mat-mini-fab color="danger" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <a mat-mini-fab routerLink=".">Link</a>
      </div>
    </div>
  </div>

</div>