<div class="container pb-4">
    <div class="row">
        <div class="col-12">
            <p>Agrega la documentación que requerira para los aspirantes.</p>
        </div>
    </div>
    <div class="row">
        <form class="col-12" [formGroup]="fgGeneral">
            <div class="row">
                <div class="col-12 col-md-4 form-group">
                    <mat-form-field appearance="legacy">
                        <mat-label>Nombre del requisito</mat-label>
                        <input matInput placeholder="Insert your name">
                        <mat-icon matSuffix>playlist_add_check </mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-3 form-group">
                    <mat-form-field>
                        <mat-label>Tipo de Dato</mat-label>
                        <mat-select formControlName="tipoDato" (selectionChange)="cambiarSubData()" required>
                            <mat-option *ngFor="let tipoDato of tipoDatos" [value]="tipoDato">
                                {{tipoDato.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fgGeneral.get('tipoDato').hasError('required')">Por favor elige una opción</mat-error>
                        <mat-hint>{{fgGeneral.get('tipoDato').value?.descripcion}}</mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-3 form-group">
                    <mat-form-field>
                        <mat-label> Tipo de {{ fgGeneral.get('tipoDato').value?.nombre }}</mat-label>
                        <mat-select formControlName="subtipo" required>
                            <mat-option *ngFor="let subDato of fgGeneral.get('tipoDato').value?.subDato" [value]="subDato">
                                {{subDato.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fgGeneral.get('subtipo').hasError('required')">Por favor elige un tipo
                            {{ fgGeneral.get('tipoDato').value?.nombre }}</mat-error>
                        <mat-hint>{{fgGeneral.get('subtipo').value?.descripcion}}</mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-12" *ngIf="tipoComplemento == 'Campo'" @fadeInDown>
                    <div class="row">
                        <div class="col-12">
                            <p>Puedes activar un valor mínimo y un valor máximo para definir un rango.</p>
                        </div>
                        <div class="col-6 col-md-2 form-group">
                            <mat-form-field appearance="legacy">
                                <mat-label>Mínimo</mat-label>
                                <input type="number" matInput placeholder="Insert your name">
                                <mat-icon matSuffix>trending_up</mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="col-6 col-md-2 form-group">
                            <mat-form-field appearance="legacy">
                                <mat-label>Máximo</mat-label>
                                <input type="number" matInput placeholder="Insert your name">
                                <mat-icon matSuffix>trending_down</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="tipoComplemento == 'Archivo'" @fadeInDown>
                    <div class="row">
                        <div class="col-12">
                            <p>Agrega una descripción si es que el nombre del archivo debe de llevar formato en especifico</p>
                        </div>
                        <div class="col-12 col-md-8 form-group">
                            <mat-form-field class="form">
                                <mat-label>Descripción</mat-label>
                                <textarea matInput placeholder="Escribe una descripción o deja en blanco    "></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="tipoComplemento == 'Selección'" @fadeInDown>
                    Seleccion
                </div>
                <div class="col-12" *ngIf="tipoComplemento == 'Fecha'" @fadeInDown>
                    <div class="row">
                        <div class="col-12">
                            <p>Define una fecha mínima y una fecha máxima para definir un rango </p>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 form-group">
                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="fechaMin" placeholder="Elige una fecha mínima"
                                    required>
                                <mat-datepicker-toggle matSuffix [for]="fechaMin"></mat-datepicker-toggle>
                                <mat-datepicker #fechaMin></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 form-group">
                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="fechaMax" placeholder="Elige una decha máxima"
                                    required>
                                <mat-datepicker-toggle matSuffix [for]="fechaMax"></mat-datepicker-toggle>
                                <mat-datepicker #fechaMax></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 text-right">
                    <button mat-stroked-button color="success" (click)="alert2()" type="button"> Agregar <mat-icon
                            class="material-icons-outlined">add</mat-icon> </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 align-self-end">
            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar por palabra">
                <mat-icon matSuffix>search </mat-icon>
            </mat-form-field>
        </div>
        <div class="col-12">
            <div class="table-responsive mat-elevation-z3">
                <table mat-table class="table" [dataSource]="dataSource" matSort>
                    <!-- Nombre Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                    </ng-container>

                    <!-- Requerido Column -->
                    <ng-container matColumnDef="requerido">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Requerido </th>
                        <td mat-cell *matCellDef="let row"> {{row.requerido}} </td>
                    </ng-container>

                    <!-- Tipo Column -->
                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                        <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
                    </ng-container>

                    <!-- Max Column -->
                    <ng-container matColumnDef="max">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Máximo </th>
                        <td mat-cell *matCellDef="let row"> {{row.max}} </td>
                    </ng-container>

                    <!-- Min Column -->
                    <ng-container matColumnDef="min">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mínimo </th>
                        <td mat-cell *matCellDef="let row"> {{row.min}} </td>
                    </ng-container>

                    <!-- TipoArchivo Column -->
                    <ng-container matColumnDef="tipoArchivo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Archivo </th>
                        <td mat-cell *matCellDef="let row"> {{row.tipoArchivo}} </td>
                    </ng-container>

                    <tr mat-header-row class="table-warning" *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
            </div>
        </div>
    </div>
</div>