<div class="row">
    <div class="col-12">
        <h1 mat-dialog-title>Editar '{{data.nombre}}' </h1>
        <hr>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-12">
                    <p>Edita los datos del tipo de dato</p>
                </div>
                <div class="col-12">
                    <app-form-requisitos [requisito]="data" ></app-form-requisitos>
                </div>
            </div>
        </div>
        <div mat-dialog-actions>
            <div class="row">
                <div class="col-12 text-right">
                    <button mat-button color="danger" (click)="onNoClick()">Cancelar</button>
                    <button mat-button color="info" [mat-dialog-close]="data" cdkFocusInitial>Sí, Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>