<div class="row">
    <div class="col-12">
        <h1 class="text-center" mat-dialog-title>Editar '{{data.nombre}}' </h1>
        <hr>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-12">
                    <p>Edita los datos del tipo de dato</p>
                </div>
                <div class="col-12">
                    <app-form-requisitos [tipoForm]="'editar'" [requisito]="data" (cancelarForm)="onNoClick()" (enviarForm)="enviarForm($event)"></app-form-requisitos>
                </div>
            </div>
        </div>
    </div>
</div>