/* Palette color theme */
@import "~src/assets/scss/palette.scss";

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Toolbar */
.mat-toolbar {
  z-index: 2;
  height: 48px; /*56px;*/
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: saturate(180%) blur(20px);
}

/* Sidebar */
.mat-drawer {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: saturate(180%) blur(20px);
}

.mat-list-base .mat-list-item {
  font-size: 14px;
}

/* Container */
.mat-sidenav-content {
  padding-top: 9px;

  &.mat-drawer-content {
    background: #ffffff;
  }
}

.mat-elevation-z3 {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0 !important;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 9px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.app-icon {
  margin-top: -5px;
}

.sidenav-icon {
  padding-right: 30px;
}

.color-line {
  background: #f7f9fa;
  height: 4px !important;
  padding-top: 0;
  margin-top: -1px;
  background-image: -webkit-linear-gradient(
    left,
    $primary,
    $primary 20%,
    $success 20%,
    $success 40%,
    $info 40%,
    $info 60%,
    $warning 60%,
    $warning 80%,
    $danger 80%
  );
  background-image: -moz-linear-gradient(
    left,
    $primary,
    $primary 20%,
    $success 20%,
    $success 40%,
    $info 40%,
    $info 60%,
    $warning 60%,
    $warning 80%,
    $danger 80%
  );
  background-image: -ms-linear-gradient(
    left,
    $primary,
    $primary 20%,
    $success 20%,
    $success 40%,
    $info 40%,
    $info 60%,
    $warning 60%,
    $warning 80%,
    $danger 80%
  );
  background-image: linear-gradient(
    to right,
    $primary,
    $primary 20%,
    $success 20%,
    $success 40%,
    $info 40%,
    $info 60%,
    $warning 60%,
    $warning 80%,
    $danger 80%
  );
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
