<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <!-- TOOLBAR  -->
  <mat-toolbar color="basic" class="example-toolbar mat-elevation-z3">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">
      <img src="assets/favicon.ico" width="22px" alt="..." class="app-icon rounded">
      SGAE
    </h1>
    <span class="spacer"></span>
    <!-- <button *ngIf="isLoggedIn;else loggedOutOptions" mat-button [matMenuTriggerFor]="alerts" data-title="Sin nuevas alertas"  [disabled]="true"  @fadeInDown>
      <mat-icon style="color:gray" class="material-icons-outlined">notification_important</mat-icon>
    </button> -->

    <!-- Icono Alertas -->
    <button *ngIf="alertas.length == 0; else elseBlock" mat-button [matMenuTriggerFor]="alerts" @fadeInDown disabled>
      <mat-icon style="color: gray" class="material-icons-outlined">notification_important</mat-icon>
    </button>
    <ng-template #elseBlock>
      <button mat-button [matMenuTriggerFor]="alerts" data-title-alert="Tienes nuevas alertas" @fadeInDown>
        <mat-icon style="color: orange" class="material-icons-outlined">notification_important</mat-icon> <span class="numberCircle">&nbsp;{{ alertas.length }}&nbsp;</span>
      </button>
    </ng-template>
    <!-- /Icono Alertas -->

    <button *ngIf="isLoggedIn;else loggedOutOptions" mat-button [matMenuTriggerFor]="menu" @fadeInDown>
      <mat-icon class="material-icons-outlined">account_circle</mat-icon> {{ usuario.nombres }}
    </button>

    <!-- Menu Alertas -->
    <mat-menu class="itemAlerta" #alerts="matMenu">
      <!-- <button [style.background-color]=" alerta.tipo == tipoAlerta.ALERTA ? rgba(255, 0, 0, 0.1) : (alerta.tipo == tipoAlerta.AVISO ? rgba(63, 191, 191, 0.1) : rgba(63, 191, 63, 0.1)) " *ngFor="let alerta of alertas" style="white-space: normal;"  mat-menu-item> -->
        <button *ngFor="let alerta of alertas" style="white-space: normal" routerLink={{alerta.url}} mat-menu-item>
          <mat-icon *ngIf="alerta.tipo == tipoAlerta.ALERTA" style="color: red;" class="material-icons-outlined">error_outline</mat-icon>
          <mat-icon *ngIf="alerta.tipo == tipoAlerta.AVISO" style="color: #17a2b8;" class="material-icons-outlined">info</mat-icon>
          <mat-icon *ngIf="alerta.tipo == tipoAlerta.CONFIRMACION" style="color: green;" class="material-icons-outlined">info</mat-icon>
        <span>&nbsp;</span>{{ alerta.mensaje }}
      </button>
    </mat-menu>
    <!-- /Menu Alertas -->
    
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon class="material-icons-outlined">settings_application</mat-icon> Configurar 
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon> Salir
      </button>
    </mat-menu>
    <ng-template #loggedOutOptions>
      <a mat-button routerLink="" @fadeInDown>
        <mat-icon>home</mat-icon> Inicio
      </a>
      <a mat-button routerLink="login" @fadeInDown>
        <mat-icon class="material-icons-outlined">account_circle</mat-icon> Iniciar Sesión
      </a>
    </ng-template>

  </mat-toolbar>

  <!-- SIDENAV  -->
  <mat-sidenav-container class="example-sidenav-container mt-5" [style.marginTop.px]="mobileQuery.matches ? 48 : 0">
    <!-- SIDENAV ELEMENTS  -->
    <!-- Agregar atributo para mantener visible -- [opened]="!mobileQuery.matches" --  -->
    <mat-sidenav #snav class="pt-5" [fixedInViewport]="mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="0">
      <mat-nav-list>
        <a mat-list-item routerLink="{{nav.url}}" *ngFor="let nav of navigationLinks">
          <mat-icon class="sidenav-icon" matSuffix> {{nav.icon}} </mat-icon> {{nav.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- MAIN CONTENT  -->
    <mat-sidenav-content>
      <div [class]="isLoggedIn ? 'container pt-2 pb-4' : 'animated'">
        <app-breadcrumb *ngIf="isLoggedIn"></app-breadcrumb>
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>