/* BOOTSTRAP THEME COLOR */
$primary: #007bff; /*#069*/
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

/* Other theme */
/*
$primary: #2C3E50;
$secondary: #95a5a6;
$success: #18BC9C;
$info: #3498DB;
$warning: #F39C12;
$danger: #E74C3C;
*/

/* ANGULAR THEME COLOR */
/* Primary #007bff*/
$md-matprimary: (
  50: #e0efff,
  100: #b3d7ff,
  200: #80bdff,
  300: #4da3ff,
  400: #268fff,
  500: #007bff,
  600: #0073ff,
  700: #0068ff,
  800: #005eff,
  900: #004bff,
  A100: #ffffff,
  A200: #f2f5ff,
  A400: #bfceff,
  A700: #a6baff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

/* Success #28a745 */
$md-matsuccess: (
  50: #e5f4e9,
  100: #bfe5c7,
  200: #94d3a2,
  300: #69c17d,
  400: #48b461,
  500: #28a745,
  600: #249f3e,
  700: #1e9636,
  800: #188c2e,
  900: #0f7c1f,
  A100: #aeffb8,
  A200: #7bff8b,
  A400: #48ff5e,
  A700: #2fff47,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

/* Info #17a2b8 */
$md-matinfo: (
    50 : #e3f4f6,
    100 : #b9e3ea,
    200 : #8bd1dc,
    300 : #5dbecd,
    400 : #3ab0c3,
    500 : #17a2b8,
    600 : #149ab1,
    700 : #1190a8,
    800 : #0d86a0,
    900 : #077591,
    A100 : #bef0ff,
    A200 : #8be4ff,
    A400 : #58d9ff,
    A700 : #3fd3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* Warning #ffc107 */
$md-matwarning: (
    50 : #fff8e1,
    100 : #ffecb5,
    200 : #ffe083,
    300 : #ffd451,
    400 : #ffca2c,
    500 : #ffc107,
    600 : #ffbb06,
    700 : #ffb305,
    800 : #ffab04,
    900 : #ff9e02,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe4bf,
    A700 : #ffd9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* Danger #dc3545*/
$md-matdanger: (
  50: #fbe7e9,
  100: #f5c2c7,
  200: #ee9aa2,
  300: #e7727d,
  400: #e15361,
  500: #dc3545,
  600: #d8303e,
  700: #d32836,
  800: #ce222e,
  900: #c5161f,
  A100: #fff6f7,
  A200: #ffc3c6,
  A400: #ff9095,
  A700: #ff777c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

/* Dark #343a40 */
$md-matdark: (
    50 : #e7e7e8,
    100 : #c2c4c6,
    200 : #9a9da0,
    300 : #717579,
    400 : #52585d,
    500 : #343a40,
    600 : #2f343a,
    700 : #272c32,
    800 : #21252a,
    900 : #15181c,
    A100 : #63b1ff,
    A200 : #3097ff,
    A400 : #007efc,
    A700 : #0071e2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);