<div class="container animated-row pb-4">
    <div class="row">
        <div class="col-12">
            <p>Edita la información o permisos del nuevo administrador.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card no-border mat-elevation-z3">
                <div class="card-header text-center">
                    <h5 class="m-0">Formulario para editar al administrador</h5>
                </div>
                <div class="card-body">
                    <h5>Información del administrador</h5>
                    <form [formGroup]="fgAdmin">
                        <div class="row">
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Nombre(s)</mat-label>
                                    <input matInput formControlName="nombres" type="nombres" id="nombres" name="nombres" (change)="btnIDisable = false;" required>
                                    <mat-icon matSuffix>text_fields</mat-icon>
                                    <mat-error *ngIf="fgAdmin.get('nombres').invalid">{{getNombreErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Apellido(s)</mat-label>
                                    <input matInput formControlName="apellidos" type="apellidos" id="apellidos" name="apellidos" (change)="btnIDisable = false;" required>
                                    <mat-icon matSuffix>text_fields</mat-icon>
                                    <mat-error *ngIf="fgAdmin.get('apellidos').invalid">{{getApellidoErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-right">
                                <button name="btnActualizarInfoAdmin" type="submit" type="submit" mat-button color="info" (click)="actualizarInformacion(fgAdmin)" [disabled]="btnIDisable"> Actualizar <mat-icon>cached</mat-icon> 
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <h5>Permisos del administrador</h5>
                    <div class="row">
                        <div class="col-12 col-md-4 form-group">
                            <section class="example-section mt-3">
                                <mat-slide-toggle name="toogleUsuarios" [(ngModel)]="gusuarios" (change)="btnPDisable = false;" color="accent">Gestión de usuarios</mat-slide-toggle>
                            </section>
                            <mat-hint class="toggle-hint">Permite gestionar las cuentas de los administradores de la institución y revisar los aspirantes registrados.</mat-hint>
                        </div>
                        <div class="col-12 col-md-4 form-group">
                            <section class="example-section mt-3">
                                <mat-slide-toggle  name="toogleEtapas" [(ngModel)]="getapas" (change)="btnPDisable = false;" color="accent">Gestión de etapas</mat-slide-toggle>
                            </section>
                            <mat-hint class="toggle-hint">Permite gestionar el orden y fechas de las etapas de la convocatoria.</mat-hint>
                        </div>
                        <div class="col-12 col-md-4 form-group">
                            <section class="example-section mt-3">
                                <mat-slide-toggle name="tooglePagos" [(ngModel)]="gpagos" (change)="btnPDisable = false;" color="accent">Gestión de pagos</mat-slide-toggle>
                            </section>
                            <mat-hint class="toggle-hint">Permite revisar el área de pagos.</mat-hint>
                        </div>
                        <div class="col-12 col-md-4 form-group">
                            <section class="example-section mt-3">
                                <mat-slide-toggle name="toogleConvocatoria" [(ngModel)]="gconvocatoria" (change)="btnPDisable = false;" color="accent">Gestión de convocatoria</mat-slide-toggle>
                            </section>
                            <mat-hint class="toggle-hint">Permite revisar y editar el área de convocatoria.</mat-hint>
                        </div>
                        <div class="col-12 col-md-4 form-group">
                            <section class="example-section mt-3">
                                <mat-slide-toggle name="toogleEvaluacion" [(ngModel)]="gevaluacion" (change)="btnPDisable = false;" color="accent">Gestión de evaluación</mat-slide-toggle>
                            </section>
                            <mat-hint class="toggle-hint">Permite revisar y editar el área de evaluación.</mat-hint>
                        </div>
                        <div class="col-12 col-md-4 form-group">
                            <section class="example-section mt-3">
                                <mat-slide-toggle name="toogleDocumentacion" [(ngModel)]="gdocumentacion" (change)="btnPDisable = false;" color="accent">Gestión de documentación</mat-slide-toggle>
                            </section>
                            <mat-hint class="toggle-hint">Permite validar y administrar la información solicitada a los aspirantes.</mat-hint>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button name="btnActualizarPermisosAdmin" type="submit" type="submit" (click)="actualizarPermisos()" mat-button color="info" [disabled]="btnPDisable">
                                    Actualizar <mat-icon>cached</mat-icon> 
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button name="btnRegresar" type="submit" type="submit" [routerLink]="['/app/usuarios/gestion-admon']" mat-button color="warning">
                                    Regresar <mat-icon>undo</mat-icon> 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>