<form [formGroup]="fgLista" class="row">
    <!-- GRUPO -->
    <div class="col-12 col-sm-5 col-md-4 form-group">
        <mat-form-field appearance="legacy">
            <mat-label>Grupo </mat-label>
            <mat-select formControlName="grupo" name="grupo" id="grupo" required>
                <mat-option *ngFor="let grupo of gruposCat" [value]="grupo.id">
                    {{ grupo.nombre }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="grupo.hasError('required')">{{ MJS_ERROR_REQUERIDO }}</mat-error>
            <mat-icon matSuffix>groups </mat-icon>
        </mat-form-field>
    </div>
    <!-- FECHA INICIO -->
    <div class="col-12 col-md-4 form-group">
        <input-fecha formControlName="fechaInicio" [label]="'Fecha Inicio'"></input-fecha>
    </div>
    <!-- FECHA TERMINO -->
    <div class="col-12 col-md-4 form-group">
        <input-fecha formControlName="fechaTermino" [label]="'Fecha Termino'" [minDate]="fechaInicio.value" [startDate]="false"></input-fecha>
    </div>

    <div class="col-12 text-right">
        <button class="" mat-button color="success" (click)="agregar()" name="agregarItem" id="agregarItem" *ngIf="isMain">Agregar fecha <mat-icon>add</mat-icon></button>
    </div>
    <div class="col-12 text-right" *ngIf="!isMain">
        <button type="button" mat-button color="danger" (click)="cancelarActualizar()" name="cancelarActualizar" id="cancelarActualizar">
            Cancelar <mat-icon>cancel</mat-icon>
        </button>
        <button type="button" mat-button color="primary" (click)="editarItem()" name="actualizarItem" id="actualizarItem">
            Actualizar <mat-icon>cached</mat-icon>
        </button>
    </div>
</form>
<div class="row" *ngIf="isMain">
    <div class="col-12">
        <table class="table table-sm" [class.table-error]="valueArray.length == 0">
            <thead class="table-info">
                <tr>
                    <th>Grupo</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha termino</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody *ngIf="valueArray.length; else NoData">
                <tr *ngFor="let objAplicacion of valueArray; let i = index">
                    <td> {{ gruposObj[objAplicacion[0]].nombre }} </td>
                    <td> {{ objAplicacion[1].fechaInicioF }} </td>
                    <td> {{ objAplicacion[1].fechaTerminoF }} </td>
                    <td>
                        <button type="button" mat-button color="primary" (click)="editar(objAplicacion[1])" name="editarItem" id="editarItem">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button type="button" mat-button color="danger" (click)="eliminar(objAplicacion[0])"  name="eliminarItem" id="eliminarItem">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
            <ng-template #NoData>
                <tbody>
                    <td colspan="4" class="text-center"> <h3 class="py-3">No hay fechas de aplicación </h3></td>
                </tbody>
            </ng-template>
            
        </table>
    </div>

</div>