<div class="row animated fadeIn animated-panel" [@cardAnimation]="cards.length" >
  <div *ngFor="let card of cards" class="col-6 col-sm-4 col-md-3 py-2">
    <mat-card class="example-card mat-elevation-z3 ">
      <mat-card-header>
        <mat-card-title> {{ card.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ card.description }}
        </p>
      </mat-card-content>
      <mat-card-actions class="text-right">
        <a mat-button color="primary" routerLink="/{{ card.url }}">Go to</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>