<div class="container" @fadeInRight>
    <div class="row" *ngIf="aplicacionesRealizadas; else MensajeInscribirse">
        <div class="col-12">
            <div class="alert " [ngClass]="{ 'alert-danger': estadoEvaluacionUsuario === estadosEvaluacion.NO_VALIDO,
                'alert-warning': estadoEvaluacionUsuario === estadosEvaluacion.INVALIDA,
                'alert-success': estadoEvaluacionUsuario === estadosEvaluacion.VALIDO  }" role="alert" [ngSwitch]="estadoEvaluacionUsuario">
                <div class="col-12 pt-2">
                    <h4 class="alert-heading">Estado de mi evaluación</h4>
                    <p *ngSwitchCase="estadosEvaluacion.INVALIDA">
                        No has realizado ninguna validación
                    </p>
                    <p *ngSwitchCase="estadosEvaluacion.VALIDO">
                        Felicidades, el estado de tu etapa de evaluación es válido
                    </p>
                    <p *ngSwitchCase="estadosEvaluacion.NO_VALIDO">
                        El estado de tu etapa de evaluación es no válido
                    </p>
                </div>
                <!-- <div class="col-12" *ngSwitchCase="estadosEvaluacion.CORRECCION">
                    <hr>
                    <p class="mb-0">{{ requisitosGuardados?.comentarios }}</p>
                </div> -->
            </div>
            <br>
        </div>
        <div class="col-12">
            <div *ngIf="aplicacionesRealizadas" class="row" [@cardAnimation]="aplicacionesRealizadas.length">
                <div *ngFor="let aplicacion of aplicacionesRealizadas; trackBy: trackById" class="col-12 col-sm-4 col-md-3 py-2">
                    <div class="card card-hover mat-elevation-z2 bd-callout bd-callout-primary pt-2 pb-4" name="cardEvaluacion" matRipple (click)="mostrarResultado(aplicacion)">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span>
                                    <mat-icon class="material-icons-outlined icon-position">playlist_add_check</mat-icon>
                                </span> {{aplicacion.nombre}}
                            </h5>
                            <hr>
                            <p class="card-text"> <b>Fecha aplicación: </b>{{aplicacion.fechaFormated }}</p>
                            <p class="card-text"> <b>Aciertos: </b>{{aplicacion.aciertosTotales }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #MensajeInscribirse>
        <div class="row">
            <div class="col-12 pt-2">
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">No te has inscrito a ningún grupo</h4>
                    <a mat-flat-button color="warning" id="" name="" [routerLink]="linkInscribirGrupo">Inscribir Grupo <mat-icon>
                            navigate_next</mat-icon></a>
                </div>
            </div>
        </div>
    </ng-template>

</div>