<div class="contrainer">
    <div class="row">
        <div class="col-12">
            <div mat-dialog-title>
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>{{ data.nombre }}</h2>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div mat-dialog-content>
                <div class="row">
                    <div class="col-12">
                        <p> <b>Resultado:</b> {{ data.resultado }}</p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6">
                        <p> <b>Fecha aplicación:</b> {{ data.fechaFormated }}</p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6">
                        <p> <b>Preguntas totales:</b> {{ data.preguntasTotales }}</p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6">
                        <p> <b>Mínimo de aciertos:</b> {{ data.minAciertos }}</p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6">
                        <p> <b>Aciertos totales:</b> {{ data.aciertosTotales }}</p>
                    </div>
                    <div class="col-12">
                        <p><b>Resumen aciertos:</b></p>
                        <ul>
                            <li *ngFor="let seccion of data.aciertos"><b> {{ seccion.seccion }} :</b> {{
                                seccion.aciertos }} de {{ seccion.total }} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div mat-dialog-actions class="row">
                <div class="col-12 text-right pb-2">
                    <button mat-button (click)="cerrar()" name="btnModalCancelar"
                        id="btnModalCancelar">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>