<div class="card no-border mat-elevation-z3">
    <div class="card-header text-center">
        <h5 class="m-0">{{titulo}}</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="fgFormulario">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4" *ngFor="let documento of documentos" [ngSwitch]="documento.tipo">
                    <div class="form-group" *ngSwitchCase="OPC.CAMPO">
                        <mat-form-field appearance="legacy" *ngIf="documento.subtipo == OPC_CAMPO.TEXTO">
                            <mat-label>{{ documento.nombre }}</mat-label>
                            <input type="{{ documento.subtipo | tipo }}" formControlName="{{ documento.nombre }}"
                                matInput placeholder="" [required]="documento.requerido">
                            <mat-error *ngIf="fgFormulario.get(documento.nombre).hasError('required')">
                                Este campo es requerido
                            </mat-error>
                            <mat-error *ngIf="fgFormulario.get(documento.nombre).hasError('pattern')">
                                No se permiten espacios al inicio ni al final
                            </mat-error>
                            <mat-error *ngIf="fgFormulario.get(documento.nombre).touched && fgFormulario.get(documento.nombre).hasError('minlength')">
                                El mínimo número de caracteres es de {{ documento.min }}
                            </mat-error>
                            <mat-error *ngIf="fgFormulario.get(documento.nombre).touched && fgFormulario.get(documento.nombre).hasError('maxlength')">
                                El máximo número de caracteres es de {{ documento.max }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="legacy" *ngIf="documento.subtipo == OPC_CAMPO.NUMERO">
                            <mat-label>{{ documento.nombre }}</mat-label>
                            <input type="{{ documento.subtipo | tipo }}" formControlName="{{ documento.nombre }}"
                                min="{{ documento.min }}" max="{{ documento.max }}" matInput placeholder=""
                                [required]="documento.requerido">
                            <mat-error *ngIf="fgFormulario.get(documento.nombre).hasError('required')">
                                Este campo es requerido
                            </mat-error>
                            <mat-error *ngIf="fgFormulario.get(documento.nombre).hasError('min')">
                                El valor mínimo permitido es {{ documento.min }}
                            </mat-error>
                            <mat-error *ngIf="fgFormulario.get(documento.nombre).hasError('max')">
                                El valor máximo permitido es {{ documento.min }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group" *ngSwitchCase="OPC.ARCHIVO">
                        <mat-form-field>
                            <ngx-mat-file-input formControlName="{{ documento.nombre }}"
                                placeholder="{{ documento.nombre }}"
                                [accept]=" documento.subtipo == OPC_ARCHIVO.PDF ? '.pdf' : '.jpg, .png, .jpeg'"
                                [valuePlaceholder]="( fgFormulario.get(documento.nombre).invalid ) ? 'Archivo no seleccionado': fgFormulario.get(documento.nombre).value.nombre "
                                (change)="handleUpload($event, documento.nombre )" required></ngx-mat-file-input>
                            <mat-icon class="material-icons-outlined" matSuffix>folder</mat-icon>
                            <mat-hint class="toggle-hint"> {{ documento.descripcion }} </mat-hint>
                            <mat-error *ngIf="fgFormulario.get(documento.nombre).hasError('required')">
                                Este campo es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group" *ngSwitchCase="OPC.SELECCION">
                        <mat-form-field>
                            <mat-label>{{ documento.nombre}} </mat-label>
                            <mat-select formControlName="{{ documento.nombre }}" [required]="documento.requerido">
                                <mat-option *ngFor="let opcion of objectKeys(documento.opciones)" [value]="opcion">
                                    {{opcion}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fgFormulario.get(documento.nombre).hasError('required')">
                                Este campo es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group" *ngSwitchCase="OPC.FECHA">
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="{{ documento.nombre }}" [min]="documento.fechaMin"
                                [max]="documento.fechaMax" [matDatepicker]="picker" placeholder="{{ documento.nombre }}"
                                [required]="documento.requerido">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button type="submit" type="button" (click)="guardarFormulario(fgFormulario)" mat-button
                        color="info"> Guardar <mat-icon>save</mat-icon> </button>
                    <button type="submit" type="submit" (click)="enviarFormulario(fgFormulario)" mat-button
                        color="success"> Finalizar <mat-icon>done</mat-icon> </button>
                </div>
            </div>
        </form>
    </div>
    <!-- <div class="card-footer text-muted text-center">
        {{ fgFormulario.value | json }}
    </div>-->
</div>