<div class="card">
    <div class="card-header text-center">
        <h5 class="m-0">{{titulo}}</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="fgFormulario" (ngSubmit)="enviarFormulario(fgFormulario.value)">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4" *ngFor="let documento of documentos">
                    <div class="form-group" *ngIf="documento.tipo == OPC.CAMPO">
                        <mat-form-field appearance="legacy">
                            <mat-label>{{ documento.nombre }}</mat-label>
                            <input type="{{ documento.subtipo | tipo }}" formControlName="{{ documento.nombre }}"
                                min="{{ documento.min }}" max="{{ documento.max }}" matInput placeholder=""
                                [required]="documento.requerido">
                        </mat-form-field>
                    </div>

                    <div class="form-group" *ngIf="documento.tipo == OPC.ARCHIVO">
                        <mat-form-field>
                            <ngx-mat-file-input formControlName="{{ documento.nombre }}" placeholder="{{ documento.nombre }}"
                                [valuePlaceholder]="( fgFormulario.get(documento.nombre).invalid ) ? 'Archivo no seleccionado': fgFormulario.get(documento.nombre).value.nombre " (change)="handleUpload($event, documento.nombre )" required></ngx-mat-file-input>
                            <mat-icon class="material-icons-outlined" matSuffix>folder</mat-icon>
                            <mat-hint class="toggle-hint"> {{ documento.descripcion }} </mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="form-group" *ngIf="documento.tipo == OPC.SELECCION">
                        <mat-form-field>
                            <mat-label>{{ documento.nombre}} </mat-label>
                            <mat-select formControlName="{{ documento.nombre }}" [required]="documento.requerido">
                                <mat-option *ngFor="let opcion of objectKeys(documento.opciones)" [value]="opcion">
                                    {{opcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group" *ngIf="documento.tipo == OPC.FECHA">
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="{{ documento.nombre }}" [min]="documento.fechaMin"
                                [max]="documento.fechaMax" [matDatepicker]="picker" placeholder="{{ documento.nombre }}"
                                [required]="documento.requerido">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button mat-button color="success"> Finalizar </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-muted text-center">
        {{ fgFormulario.value | json }}
    </div>
</div>