<div class="container animated-row pb-4">
    <div class="row">
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card no-border mat-elevation-z3">
                <div class="card-header text-center">
                    <h5 class="m-0">Información de la cuenta</h5>
                </div>
                <div class="card-body">
                    <h5>Datos principales</h5>
                    <form [formGroup]="fgDatosCuenta">
                        <div class="row">
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Nombre de la cuenta</mat-label>
                                    <input matInput formControlName="nombre" id="nombre" name="nombre" [readonly] = "!editarCuenta" required>
                                    <mat-icon matSuffix>account_balance_wallet</mat-icon>
                                    <!-- <mat-error *ngIf="fgAdmin.get('nombres').invalid">{{getNombreErrorMessage()}}</mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Nombre del banco</mat-label>
                                    <input matInput formControlName="banco" id="banco" name="banco" [readonly] = "!editarCuenta" required>
                                    <mat-icon matSuffix>account_balance</mat-icon>
                                    <!-- <mat-error *ngIf="fgAdmin.get('apellidos').invalid">{{getApellidoErrorMessage()}}</mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Número de la cuenta bancaria</mat-label>
                                    <input matInput formControlName="noCuenta" id="noCuenta" name="noCuenta" [readonly] = "!editarCuenta" required>
                                    <mat-icon matSuffix>payment</mat-icon>
                                    <!-- <mat-error *ngIf="fgAdmin.get('apellidos').invalid">{{getApellidoErrorMessage()}}</mat-error> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="!editarCuenta" class="col-12 text-right">
                                <button  name="btnActualizarInfoCuenta"  type="submit" mat-button color="info" (click)="editarCuenta = true;" > Editar <mat-icon>create</mat-icon> </button>        
                            </div>
                            <div *ngIf="editarCuenta" class="col-12 text-right">
                                <button name="btnActualizarInfoCuenta"  type="submit" mat-button color="danger" (click)="cancelarEdicionDatosCuenta()" > Cancelar <mat-icon>close</mat-icon> </button>
                                <button name="btnActualizarInfoCuenta"  type="submit" mat-button color="success" (click)="actualizarDatosCuenta(fgDatosCuenta)" > Actualizar <mat-icon>cached</mat-icon> </button>
                                
                            </div>
                        </div>
                    </form>
                    <hr>
                    <h5>Grupos asociados</h5>
                    <div class="row">
                        <!-- Agregar un ngIF de que no existe ningun grupo -->
                        <div *ngFor="let grupo of grupos; trackBy: trackById" class="col-12 col-md-6 form-group">
                            <section class="example-section mt-3">
                                <mat-slide-toggle name="toogleGrupos" [(ngModel)]="grupo.isAsociado" color="accent"> {{grupo.nombre}} </mat-slide-toggle> 
                                <!-- <mat-slide-toggle name="toogleUsuarios" [(ngModel)]="gusuarios" (change)="btnPDisable = false;" color="accent">Gestión de usuarios</mat-slide-toggle> -->
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button name="btnActualizarGruposAsociados" type="submit" type="submit" (click)="actualizarGrupos()" mat-button color="info">
                                    Actualizar <mat-icon>cached</mat-icon> 
                            </button>
                        </div>
                    </div>
                    <hr>
                   
                    <div class="row">
                        <div class="col-12 text-right">
                            <button name="btnRegresar" type="submit" [routerLink]="['/app/pagos/gestionar-cuentas']" mat-button color="warning">
                                    Regresar <mat-icon>undo</mat-icon> 
                            </button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>