<div class="container animated-row pb-4">
    <div class="row mat-elevation-z3 pb-3">
        <div class="col-12 px-0">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Requisito</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Valido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let requisito of requisitosTabla">
                            <th>{{ requisito.nombre }}</th>
                            <td [ngSwitch]="requisito.tipo">
                                <div *ngSwitchCase="'texto'">
                                    {{ requisito.valor }}
                                </div>
                                <div *ngSwitchCase="'archivo'">
                                    <a (click)="abrirArchivo(requisito.valor)">{{ requisito.valor.nombre }}</a>
                                </div>
                            </td>
                            <td>
                                <mat-checkbox [(ngModel)]="requisitosAspirante[requisito.nombre].valido">
                                    {{ requisitosAspirante[requisito.nombre].valido | boolean  }}</mat-checkbox>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="col-12 my-1">
            <div class="row">
                {{ requisitosAspirante | json }}
            </div>
        </div>-->
        <div class="col-12 my-1">
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Comentarios</mat-label>
                        <textarea matInput rows="4" placeholder="Agrega lo que se debe corregir en los requisios" [(ngModel)]="documentacionObject.comentarios"></textarea>
                        <mat-icon matSuffix>message</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-12 text-right">
                    <button mat-button color="info" (click)="onEnviarCorrecciones()">Enviar correcciones</button>
                    <button mat-button color="success" *ngIf="usuario.estado.documentacion !== 'validada'" (click)="onFinalizar()">Validar</button>
                </div>
            </div>
        </div>
    </div>
</div>