<div class="container" @fadeInRight>
    <div class="row">
        <!-- APLICACION -->
        <div class="col-12 col-sm-12 col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>Aplicación </mat-label>
                <mat-select name="SelectFiltro" [formControl]="aplicacion" (selectionChange)="onChangeAplicacion($event.value)" required>
                    <mat-option *ngFor="let aplicacion of aplicaciones" [value]="aplicacion">
                        {{ aplicacion.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 d-flex flex-row form-group flex-wrap">
            <div>
                <button mat-button color="success" (click)="admitirSoloAprobados()" [disabled]="aspirantes.length == 0">Validar sólo a los aprobados<mat-icon>playlist_add_check</mat-icon></button>
            </div>
            <div>
                <button mat-button color="info" (click)="aprobarTodos()" [disabled]="aspirantes.length == 0">Validar a todos <mat-icon>done</mat-icon></button>
            </div>
            <div>
                <button mat-button color="danger" (click)="rechazarTodos()" [disabled]="aspirantes.length == 0">No validar a ninguno <mat-icon>close</mat-icon></button>
            </div>
            <div>
                <button mat-button color="primary" (click)="enviarNotificacion()" [disabled]="aspirantes.length == 0">Enviar notificación a aspirantes <mat-icon>forward_to_inbox</mat-icon></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-tabla [columnas]="columnas" [datos]="aspirantes" [isCustom]="true" [customIcon]="'cached'" [customColor]="'info'" [customDesc]="'Cambiar estado de evaluación'"
                (custom)="cambiarEstadoAspirante($event)"></app-tabla>
        </div>
    </div>
</div>