<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Agrega la documentación que requerira para los aspirantes.</p>
        </div>
    </div>
    <div class="row">
        <form class="col-12" [formGroup]="">
            <div class="row">
                <div class="col-12 col-md-4 form-group">
                    <mat-form-field appearance="legacy">
                        <mat-label>Nombre del requisito</mat-label>
                        <input matInput placeholder="Insert your name">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-4 form-group">
                    <mat-form-field>
                        <mat-label>Tipo de Dato</mat-label>
                        <mat-select [formControl]="fcTipoDato" (selectionChange)="cambiarSubData()" required>
                            <mat-option *ngFor="let tipoDato of tipoDatos" [value]="tipoDato">
                                {{tipoDato.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fcTipoDato.hasError('required')">Por favor elige una opción</mat-error>
                        <mat-hint>{{fcTipoDato.value?.descripcion}}</mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-4 form-group">
                    <mat-form-field>
                        <mat-label>  Tipo de {{ dato.nombre }}</mat-label>
                        <mat-select [formControl]="fcTipoSubDato" required>
                            <mat-option *ngFor="let subDato of fcTipoDato.value?.subDato" [value]="subDato">
                                {{subDato.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fcTipoDato.hasError('required')">Por favor elige un {{ fcTipoDato.value?.name }}</mat-error>
                        <mat-hint>{{fcTipoSubDato.value?.descripcion}}</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-12 text-right">
                    <button mat-button color="success" type="button">Agreagar</button>
                </div>
            </div>
            <div class="row">

            </div>
        </form>
    </div>
</div>