<div class="container animated-row pb-4">
    <div class="row">
        <div class="col-12">
            <div class="row" style="height: 75px;">
                <div [ngClass]="colEstadoOn ? 'offset-md-0' : 'offset-md-3'" class="col-12 col-sm-2 form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Ver por etapas</mat-label>
                        <mat-select name="selectFiltroEtapa" [formControl]="fcFiltroEtapas" (selectionChange)="onChangeFiltroEtapa($event.value)" required>
                            <mat-option *ngFor="let filtro of filtrosEtapas" [value]="filtro.valor">
                                {{ filtro.nombre }}
                            </mat-option>
                        </mat-select>
                     </mat-form-field>
                </div>
                <div *ngIf="colEstadoOn" class="col-12 col-sm-3 form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Filtrar por estado de {{ etapaSeleccionada.nombre }} </mat-label>
                        <mat-select name="selectFiltroEstados" [formControl]="fcFiltroEstados" (selectionChange)="onChangeFiltroEstado($event.value)" required>
                            <mat-option *ngFor="let filtro of filtrosEstados" [value]="filtro.valor">
                                {{ filtro.nombre }}
                            </mat-option>
                        </mat-select>
                     </mat-form-field>
                </div>
                <div class="col-12 col-sm-3 form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Ver por estado de asignación</mat-label>
                        <mat-select name="selectFiltroResultados" [formControl]="fcFiltroResultados" (selectionChange)="onChangeFiltroResultados($event.value)" required>
                            <mat-option *ngFor="let filtro of filtroResultados" [value]="filtro.valor">
                                {{ filtro.nombre }}
                            </mat-option>
                        </mat-select>
                     </mat-form-field>
                </div>
                <div class="col-12 col-sm-4">
                    <mat-form-field id="bucar" appearance="outline">
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="buscarUsuario($event.target.value)" placeholder="Filtrar por palabra">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-12 text-right" style="padding-bottom: 10px;">
            <button mat-flat-button color="info" name="btnFinalizarProceso" (click)="asignarAspirantes()" >Finalizar Proceso Aspirantes<mat-icon>perm_identity</mat-icon></button>
        </div>
        <div class="col-12">
            <div class="table-responsive mat-elevation-z3">
                <table mat-table class="table" [dataSource]="usuarios" matSort>
                    <!-- Nombre Column -->
                    <ng-container matColumnDef="nombres">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre(s) </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombres}} </td>
                    </ng-container>

                    <!-- Requerido Column -->
                    <ng-container matColumnDef="apellidos">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido(s) </th>
                        <td mat-cell *matCellDef="let row"> {{row.apellidos }} </td>
                    </ng-container>

                    <!-- Tipo Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo electrónico </th>
                        <td mat-cell *matCellDef="let row"> {{row.email }} </td>
                    </ng-container>

                    <!-- Tipo Column -->
                    <ng-container *ngIf="colEstadoOn" matColumnDef="colEstado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ etapaSeleccionada.nombre }} </th>
                        <td mat-cell [ngSwitch]="etapaSeleccionada.valor"  *matCellDef="let row">
                            <p *ngSwitchCase="'documentacion'"> {{row.estado.documentacion | titlecase }} </p>
                            <p *ngSwitchCase="'evaluacionConocimientos'"> {{row.estado.evaluacionConocimientos | titlecase }} </p>
                            <p *ngSwitchCase="'pago'"> {{row.estado.pago | titlecase }} </p>
                            <p *ngSwitchCase="'publicacionResultados'"> {{row.estado.publicacionResultados | titlecase }} </p>
                        </td>
                    </ng-container>

                     <!-- Tipo Column -->
                    <ng-container matColumnDef="estados">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estados </th>
                        <td mat-cell *matCellDef="let row">
                            <a mat-button matTooltip="Visualizar estados" color="info" (click)="visualizarEstados(row)">
                                <mat-icon class="material-icons-outlined">visibility</mat-icon>
                            </a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="asignar">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignar </th>
                        
                        <td mat-cell *matCellDef="let row">
                            <a *ngIf="row.estado.publicacionResultados == 'validada'; else elseResultados" mat-button matTooltip="Asignado" id="iconAspiranteAsignado" color="success">
                                <mat-icon>done_outiline</mat-icon>
                            </a>
                            <ng-template #elseResultados>
                                <a  mat-button matTooltip="Asignar" name="btnAsignarUsuario" (click)="asignarAspirante(row)"  color="info" [disabled]="!esAsignable(row)">
                                    <mat-icon>upgrade</mat-icon>
                                </a>
                            </ng-template>
                        </td>
                    </ng-container>

                    <tr mat-header-row class="table-warning" *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
            </div>
        </div>
    </div>
</div>