/* Override styles */
.breadcrumb {
  display: flex;
  padding: 0rem 0.5rem;
  align-items: center;
  background: #F7F9FA;
  margin-bottom: 12;

  .breadcrumb-item {
    + .breadcrumb-item {
      padding: 0px;
    }
    &::before {
      position: relative;
      top: 3px;
      padding: 0px;
    }
  }

  .mat-button {
    font-size: 13px;
    padding: 0px 5px;
    height: 30px;
    line-height: 2.5;    
    align-items: center;
    span{
      margin-top: -10px;
    }
  }
}

.mat-icon{
  font-size: 30px;
}

.title span{
  position: relative;
  top: 4px;
}