<nav aria-label="breadcrumb" @fadeInDown>
    <ol class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let link of classReference.breadcrumb.links">
            <a href="#" name="btnOpcBreadcrumb" mat-button routerLink="{{link.url}}"> {{link.name}} </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a mat-button disabled>{{ classReference.breadcrumb.title.name }}</a>
        </li>
    </ol>
</nav>
<div class="col-12" @fadeInDown>
    <h3 class="title text-center">{{ classReference.breadcrumb.title.name }}</h3>
</div>
<hr>