<div class="container" @fadeInRight>
    <div class="row">
        <!-- <div class="col-12">
            <p>Indica la relación entre evaluaciones y grupos</p>
        </div> -->
        <div class="col-12 text-right">
            <button mat-button color="success" (click)="onAgregar()">Agregar aplicación<mat-icon>add</mat-icon></button>
        </div>
        <div class="col-12" *ngFor="let aplicacion of aplicaciones">
            <div class="row">
                <div class="col-12">
                    <h3>{{ aplicacion.nombre }} </h3>
                    <hr>
                </div>
                <div class="col-12 col-sm-6 col-md-4 pb-1">
                    <b>Mínimo de aciertos:</b> {{ aplicacion.aciertos }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 pb-1">
                    <b>Duración:</b> {{ aplicacion.duracion }}
                </div>
                <div class="col-12 pb-1">
                    <b>Evaluaciones: </b>
                    <ul>
                        <li *ngFor="let evaluacion of aplicacion.evaluaciones">{{ evaluacionesObj[evaluacion.id].nombre }}</li>
                    </ul>
                </div>
                <div class="col-12">
                    <table class="table table-stripped table-sm"> 
                        <thead class="table-primary">
                            <th>Grupo</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha termino</th>
                        </thead>
                        <tbody>
                            <td>{{ gruposObj[aplicacion.grupo].nombre }}</td>
                            <td>{{ aplicacion?.fechaInicioAplicacion }}</td>
                            <td>{{ aplicacion?.fechaTerminoAplicacion }}</td>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 pb-1 text-right">
                    <button mat-button color="info" (click)="onActualizar(aplicacion)">Editar <mat-icon>edit</mat-icon></button>
                    <button mat-button color="danger" (click)="onEliminar(aplicacion)">Eliminar <mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>