
.mat-card .mat-card-header .mat-card-header-text {
    margin: 0px !important;
  }
  .card {
    cursor: pointer;
  
    .body {
      padding: 0px;
    }
  }
  
  /* Postion icon card*/
  span .mat-icon {
    position: relative;
  }
  .icon-position {
    top: 4px !important;
  }
  

// h5 {
//     //margin: 0.5rem 0.75rem 0.5rem;
// }

// .card-title {
//     margin: 0.5rem 1rem 0.5rem;
// }

p {
    margin-bottom: 0.25rem;
}

.card-text {
    font-weight: 500;
}

label {
    font-weight: 400;
}
