@import "~src/assets/scss/palette.scss";

.evento-primary {
  box-shadow: $primary 0px -4px 0px 0px inset;
}
.evento-success {
  box-shadow: $success 0px -4px 0px 0px inset;
}
.evento-info {
  box-shadow: $info 0px -4px 0px 0px inset;
}
.evento-warning {
  box-shadow: $warning 0px -4px 0px 0px inset;
}
.evento-danger {
  box-shadow: $danger 0px -4px 0px 0px inset;
}

.tooltip-primary {
  background: $primary !important;
}
.tooltip-sucess {
  background: $success;
}
.tooltip-info {
  background: $info;
}
.tooltip-warning {
  background: $warning;
}
.tooltip-danger {
  background: $danger;
}

.card-body {
  padding-bottom: 1.8rem;
}

.mat-calendar-table-header-divider {
  height: 1px !important;
  border-top: 1px rgba(0, 0, 0, 0.12) solid !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Main */
.calendar {
  table {
    margin: auto;
    td,
    th {
      text-align: center;
      width: 20px;
      height: 20px;
      font-size: 13px;
    }

    &.mat-calendar-table {
      th {
        &.month-title {
          font-size: 16px !important;
          color: rgba(0, 0, 0, 0.87);
        }
      }
    }

    tr td.mat-calendar-body-cell {
      padding: 0;

      .mat-calendar-body-cell-content {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        cursor: pointer;
        padding: 4px 5px;
      }
    }
  }

  .year-title {
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
  }
}

@media screen and (max-width: 992px) /* Tablet */ {
  .calendar {
    table {
      td,
      th {
        width: 12px;
        height: 12px;
        font-size: 11px;
      }

      tr td.mat-calendar-body-cell .mat-calendar-body-cell-content {
        padding: 3px 4px !important;
      }
    }
  }
}

@media screen and (max-width: 767px) /* Mobile */ {
  .calendar table tr td.mat-calendar-body-cell .mat-calendar-body-cell-content {
    padding: 3px 3px !important;
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  .calendar table tr td.mat-calendar-body-cell .mat-calendar-body-cell-content {
    padding: 2px 3px !important;
  }
}
