<div class="card no-border mat-elevation-z3">
    <div class="card-header text-center">
        <h2 class="m-0">{{ currentYear }}</h2>
    </div>
    <div class="card-body">
        <div class="row justify-content-center px-5 py-4">
            <div class="col-12">
                <span class="badge mx-1 text-white" [style]="'background-color: #'+etapa.color" *ngFor="let etapa of dataSource">{{etapa.name}}</span>
            </div>
        </div>
        <div class="calendar row">
            <!-- New Theme -->
            <div class="calendar col-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let month of months">
                <div class="calendar-content">
                    <table class="calendar-table">
                        <thead class="calendar-header">
                            <tr>
                                <th class="month-title" colspan="7">{{month.name}}</th>
                            </tr>
                            <tr>
                                <th class="day-header" *ngFor="let weekday of weekdays"> {{ weekday }} </th>
                            </tr>
                            <tr>
                                <th colspan="7" aria-hidden="true" class="calendar-header-divider"></th>
                            </tr>
                        </thead>
                        <tbody class="calendar-body">
                            <tr class="ng-star-inserted" *ngFor="let week of month.weeks">
                                <td 
                                    [style.box-shadow]="(day.idEvent) != null ? getEventClass(day.idEvent) : ''"
                                    [matTooltip]="(day.idDisableDay) != null? getDisableDay(day.idDisableDay) : (day.idEvent) != null ? getEvents(day.idEvent) : ''"
                                    [matTooltipClass]="(day.idEvent) != null ? 'tooltip-primary' : ''"
                                    *ngFor="let day of week">
                                    <div class="calendar-body-cell-content"
                                        [style.background]="(day.idDisableDay) != null ? 'rgba(0, 0, 0, 0.2)' : '' ">
                                        {{ day.value }}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>