@import "~src/assets/scss/palette.scss";

.evento-primary {
  box-shadow: $primary 0px -4px 0px 0px inset;
}
.evento-success {
  box-shadow: $success 0px -4px 0px 0px inset;
}
.evento-info {
  box-shadow: $info 0px -4px 0px 0px inset;
}
.evento-warning {
  box-shadow: $warning 0px -4px 0px 0px inset;
}
.evento-danger {
  box-shadow: $danger 0px -4px 0px 0px inset;
}

.tooltip-primary {
  background: $primary !important;
}
.tooltip-sucess {
  background: $success;
}
.tooltip-info {
  background: $info;
}
.tooltip-warning {
  background: $warning;
}
.tooltip-danger {
  background: $danger;
}

.card-body {
  padding-bottom: 1.8rem;
}

/* New Theme */
.calendar {
  table.calendar-table {
    margin: auto;

    td,
    th {
      text-align: center;
      width: 20px !important;
      height: 24px !important;
      font-size: 13px !important;
    }

    .calendar-header {
      .month-title {
        font-size: 16px !important;
        color: rgba(0, 0, 0, 0.87);
      }

      .day-header {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.38);
      }

      .calendar-header-divider {
        height: 1px !important;
        border-top: 1px rgba(0, 0, 0, 0.12) solid !important;
        height: 1px !important;
        margin: 0 !important;
        padding-bottom: 7px !important;
      }
    }

    .calendar-body {
      padding: 0;

      .calendar-body-cell-content {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        cursor: pointer;
        padding: 4px 5px;
      }

      .calendar-body-cell-content:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      .calendar-body-cell-disabled-content{
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media screen and (max-width: 992px) /* Tablet */ {
  /* New Theme */
  .calendar {
    table.calendar-table {
      td,
      th {
        width: 11px !important;
        height: 10px !important;
        font-size: 11px !important;
      }
      
      .calendar-body .calendar-body-cell-content {
        padding: 3px 3px;
      }
    } 
  }
}

@media screen and (max-width: 767px) /* Mobile */ {
  .calendar {
    table.calendar-table {
      td,
      th {
        width: 11px !important;
        height: 10px !important;
        font-size: 11px !important;
      }
      
      .calendar-body .calendar-body-cell-content {
        padding: 3px 2px;
      }
    } 
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  .calendar {
    table.calendar-table {
      td,
      th {
        font-size: 10px !important;
      }
      
      .calendar-body .calendar-body-cell-content {
        padding: 2px 1px;
      }
    } 
  }
}
