
  p {
      margin-bottom: 0.25rem;
  }
  
  .card-text {
      font-weight: 500;
  }
  
  label {
      font-weight: 400;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .qrcode{
    font-size: 300px;
  }
