<div class="row fadeIn">
    <div class="col-12 my-2">
        <p>Click a button to show a messages</p>
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="success">Success</button>
        <button mat-stroked-button color="info">Info</button>
        <button mat-stroked-button color="warning">Warning</button>
        <button mat-stroked-button color="danger">Danger</button>
        <button mat-stroked-button color="dark">Dark</button>
    </div>
    <div class="col-12">
        <h3>Messages theme</h3>
        <hr>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="alert alert-success" role="alert">
            A simple success alert—check it out!
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="alert alert-info" role="alert">
            A simple info alert—check it out!
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="alert alert-warning" role="alert">
            A simple warning alert—check it out!
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="alert alert-danger" role="alert">
            A simple danger alert—check it out!
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="alert alert-dark" role="alert">
            A simple dark alert—check it out!
        </div>
    </div>

</div>