<div class="container">
    <div class="row pb-3">
        <div class="col-12 pt-2">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading pb-1">Instrucciones</h4>
                <p class="alert-heading">No recargues. cierres o cambies de página mientras realizas la evaluación. Si lo haces, terminará el simulador y será enviado el resultado</p>
            </div>
        </div>
    </div>
    <app-form-simulador [evaluacion]="evaluacion" [aplicacion]="aplicacion" (finalizar)="redireccionarEvaluaciones($event)"></app-form-simulador>
</div>