<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix">
    <div class="container">
        <!--<div class="intro-img">
            <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
        </div> padding: 270px 0 120px 0;-->

        <div class="intro-info">
            <h2>Curso de Preparación<br><span>Jóvenes Fermat</span><br>Examen de Ingreso 2020</h2>
            <div>
                <a routerLink="login" class="btn-get-started scrollto">
                    Iniciar
                </a>
                <a href="#services" class="btn-services scrollto">Convocatoria</a>
            </div>
        </div>
    </div>
</section><!-- #intro -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>Objetivo</h3>
                <p>En Jóvenes Fermat estamos convencidos del pontecial de todos los jóvenes de México, capaces de alcanzar cualquier meta que se propongan. Nuestra oferta educativa te prepara para dar un paso más a cumplir tus sueños. Siempre es bueno invertir en ti y en tu educación !!!.</p>
            </header>

            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                
                        <h3><a>Ofrecemos:</a></h3>
                    

                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                        <h4 class="title"><a href="">Profesores Especializados</a></h4>
                        <p class="description">En todas las áreas de conocimiento: Ciencias de la Ingeniería, Físico-Matemáticas, Médico-Biológicas y Humanísticas.</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-photo"></i></div>
                        <h4 class="title"><a href="">130 hrs de Preparación </a></h4>
                        <p class="description">En cada uno de nuestros cursos se aplican diversas técnicas que refuerzen tu conocimiento</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-bar-chart"></i></div>
                        <h4 class="title"><a href="">Técnicas de Especialización</a></h4>
                        <p class="description">Que te servirá para resolver el examen de ingreso en menor tiempo.</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-bar-chart"></i></div>
                        <h4 class="title"><a href="">Curso Garantizado</a></h4>
                        <p class="description">Este curso esta garantizado, estarás en tus primeras 5 opciones o te devolvemos tu dinero.</p>
                    </div>

                </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                    <img src="assets/img/about-img.svg" class="img-fluid" alt="">
                </div>
            </div>
            <header class="section-header">
                <h3>Acerca de nuestro curso</h3>
            </header>
        <!--<h3>Metodología Jóvenes Fermat</h3>
                    <p> En cada uno de los cursos se aplica la metodología Fermat, que sirven para reforzar cada aspecto necesario para un examen de excelencia.</p>-->
            <div class="row about-extra">

                <div class="col-lg-6 wow fadeInUp">
                    <img src="assets/img/about-extra-2.svg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                    <h4>En cada uno de los cursos se aplican <a>diversas herramientas,</a> que sirven para reforzar cada aspecto educativo.</h4>
                    <h5>Test de Aptitudes y habilidades</h5>
                    <h5>Solución de Guía UNAM y COMIPEMS</h5>
                    <h5>Orientación Vocacional</h5>
                    
                </div>
            </div>
            
            <!---->
            <div class="row about-extra">
                <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="assets/img/about-extra-1.svg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                    <h4>A lo largo del curso <a>contarán</a> con: </h4>
                    <h5>Exámenes de simulación tipo COMIPEMS</h5>
                    <h5>Material de estudio (Guía)</h5>
                    <h5>Material didáctico</h5>
                    <h5>Asesoría Virtual toda la semana</h5>
                </div>

            </div>

        -->
        </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">
            <header class="section-header">
                <h3>Metodológia</h3>
            </header>
            <div class="row">
                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                        <h4 class="title"><a href="">Teórica</a></h4>
                        <p class="description">La parte teórica está constituida por unidades didácticas preparadas para el estudio personalizado del alumno. En las clases se procede a una explicación por parte del profesor(a) del contenido de cada uno de los temas.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                        <h4 class="title"><a href="">Práctica</a></h4>
                        <p class="description">Las prácticas guardan relación directa con los temas del curso. A través de la resolución de los casos prácticos, que son presentados por los alumnos (son corregidos en el aula con las aportaciones del resto de alumnos).</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s"
                    data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                        <h4 class="title"><a href="">Didáctica</a></h4>
                        <p class="description">Recursos que facilitan la enseñanza y el aprendizaje. Hacen posible la adquisición de conocimientos, habilidades, actitudes y destrezas.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                        <h4 class="title"><a href="">Virtual</a></h4>
                        <p class="description">Los estudiantes pueden estudiar desde su casa o desde cualquier sitio en el que tengan conexión a Internet.</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #services -->

    <!--==========================
      Calendario
    ============================-->
    <section id="why-us" class="wow">
        <div class="container">
          <header class="section-header">
            <h3>Calendario del Proceso de Admisión</h3>
            <!--<p></p>-->
          </header>
          <div class="row row-eq-height">
                <div class="col-12" *ngIf="(fechasEtapas != null) && (fechasEtapas.length != 0 ); else proximamente">
                    <app-calendario [dataSource]="fechasEtapas"></app-calendario>
                </div>
                <ng-template #proximamente>
                    <div class="col-12 text-center text-white">
                        <h1><span class="badge badge-warning">Próximamente</span></h1>
                    </div>
                </ng-template>
          </div>
        </div>
    </section>
    <!--==========================
      Why Us Section
    ============================-->
    <!--
    <section id="why-us" class="wow fadeIn">
        <div class="container">
            <header class="section-header">
                <h3>Why choose us?</h3>
                <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant
                    vituperatoribus.</p>
            </header>

            <div class="row row-eq-height justify-content-center">

                <div class="col-lg-4 mb-4">
                    <div class="card wow bounceInUp">
                        <i class="fa fa-diamond"></i>
                        <div class="card-body">
                            <h5 class="card-title">Corporis dolorem</h5>
                            <p class="card-text">Deleniti optio et nisi dolorem debitis. Aliquam nobis est temporibus
                                sunt ab inventore officiis aut voluptatibus.</p>
                            <a href="#" class="readmore">Read more </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="card wow bounceInUp">
                        <i class="fa fa-language"></i>
                        <div class="card-body">
                            <h5 class="card-title">Voluptates dolores</h5>
                            <p class="card-text">Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum
                                aspernatur.</p>
                            <a href="#" class="readmore">Read more </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="card wow bounceInUp">
                        <i class="fa fa-object-group"></i>
                        <div class="card-body">
                            <h5 class="card-title">Eum ut aspernatur</h5>
                            <p class="card-text">Autem quod nesciunt eos ea aut amet laboriosam ab. Eos quis porro in
                                non nemo ex. </p>
                            <a href="#" class="readmore">Read more </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">274</span>
                    <p>Clients</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">421</span>
                    <p>Projects</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">1,364</span>
                    <p>Hours Of Support</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">18</span>
                    <p>Hard Workers</p>
                </div>

            </div>

        </div>
    </section>
    -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container-fluid">

            <div class="section-header">
                <h3>Contáctanos</h3>
            </div>

            <div class="row wow fadeInUp">

                <div class="col-lg-6">
                    <div class="map mb-4 mb-lg-0">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.4143334475834!2d-99.05592788558316!3d19.480801986856957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fb011ae8ebb7%3A0xef4767dfbd94586e!2sCalle%2032%2069%2C%20Campestre%20Guadalupana%2C%2057120%20Nezahualc%C3%B3yotl%2C%20M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1591217654613!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                        <!--
                        <iframe
                            src="https://goo.gl/maps/AKRBHwYziMnUGJ2e9"
                            frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen>
                        </iframe>
                    -->
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-5 info">
                            <i class="ion-ios-location-outline"></i>
                            <p>Calle 32 No. 69, Col. Campestre Guadalupana. Nezahualcóyotl, Edo de México.</p>
                        </div>
                        <div class="col-md-4 info">
                            <i class="ion-ios-email-outline"></i>
                            <p>jovenes_fermat@hotmail.com</p>
                        </div>
                        <div class="col-md-3 info">
                            <i class="ion-ios-telephone-outline"></i>
                            <p> Télefono:     +55 5121 3624  
                                WhatsApp: +52 55 7486 5348
                            </p>
                        </div>
                    </div>

                    <div class="form">
                        <div id="sendmessage">Tu mensaje ha sido enviado. Gracias!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Nombre(s)" data-rule="minlen:4"
                                        data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Correo Electrónico" data-rule="email"
                                        data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Asunto" data-rule="minlen:4"
                                    data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required"
                                    data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit" title="Send Message">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #contact -->

</main>

<!--==========================
    Footer
  ============================-->
<footer id="footer">
    <!--
    <div class="footer-top">
        
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>NewBiz</h3>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita
                        valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet
                        proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/aiko.lopezr" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum
                        dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    
    </div>
    -->

    <div class="container">
        <div class="copyright">
            &copy;Propiedad <strong>NewBiz</strong> Todos los derechos reservados.
        </div>
        <div class="credits">
            <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
            Diseñado por <a href="https://www.facebook.com/aiko.lopezr">Aiko López</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>