<div class="contrainer">
    <div class="row">
        <div class="col-12 text-center">
            <h1 mat-dialog-title>{{titulo}}</h1>
        </div>
        <div mat-dialog-content>
            <div class="col-12">
                <form [formGroup]="fgTema" class="row">
                    <div class="col-12 form-group">
                        <mat-form-field appearance="legacy">
                            <mat-label>Nombre del tema</mat-label>
                            <input formControlName="tema" name="tema" id="tema" matInput placeholder="Escribe el tema" required>
                            <mat-error *ngIf="fgTema.get('tema').hasError('required')">{{ MJS_ERROR_REQUERIDO }}</mat-error>
                            <mat-error *ngIf="fgTema.get('tema').hasError('pattern')">{{MJS_ERROR_REGEX_ALPHANUMERICO_CON_ESPACIOS_Y_PUNTUACION}} </mat-error>
                            <mat-icon matSuffix>playlist_add_check </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <app-lista formControlName="subtemas"></app-lista>
                    </div>
                </form>
            </div>
        </div>
        <div mat-dialog-actions>
            <div class="col-12 " [ngSwitch]="opc">
                <button mat-button (click)="cerrarModal()">Cancelar</button>
                <button mat-button *ngSwitchCase="'agregar'" (click)="save(fgTema)" color="success">Agregar <mat-icon> add</mat-icon></button>
                <button mat-button *ngSwitchCase="'actualizar'" (click)="update(fgTema)" color="info">Actualizar <mat-icon>cached</mat-icon></button>
            </div>
        </div>
    </div>
</div>