<div class="contrainer">
    <div class="row">
        <div class="col-12 text-center">
            <h1 mat-dialog-title>{{titulo}}</h1>
        </div>
        <div class="col-12">
            <div mat-dialog-content>
                <form [formGroup]="fgTema" class="row">
                    <div class="col-12 form-group">
                        <mat-form-field appearance="legacy">
                            <mat-label>Nombre del tema</mat-label>
                            <input formControlName="nombre" name="nombre" id="nombre" matInput placeholder="Escribe el nombre" required>
                            <mat-error *ngIf="nombre.hasError('required')">{{ MJS_ERROR_REQUERIDO }}</mat-error>
                            <mat-error *ngIf="nombre.hasError('pattern')">{{MJS_ERROR_REGEX_ALPHANUMERICO_CON_ESPACIOS_Y_PUNTUACION}} </mat-error>
                            <mat-icon matSuffix>playlist_add_check </mat-icon>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 " [ngSwitch]="opc">
            <div mat-dialog-actions>
                <button mat-button (click)="cerrarModal()" name="btnModalCancelar" id="btnModalCancelar">Cancelar</button>
                <button mat-button *ngSwitchCase="'agregar'" (click)="save(fgTema)" color="success" name="btnModalAgregar" id="btnModalAgregar">Agregar <mat-icon> add</mat-icon></button>
                <button mat-button *ngSwitchCase="'actualizar'" (click)="update(fgTema)" color="info" name="btnModalActualiza" id="btnModalActualiza">Actualizar <mat-icon>cached</mat-icon></button>
            </div>
        </div>
    </div>
</div>