<div class="row">
    <div class="col-12">
        <h4>Colors</h4>
        <hr>
    </div>
    <div class="col-12">
        <p>Change the palette color of template.</p>
        <p class="highlight">Access to: <code>src/app/assets/css/palette.sccs</code></p>
        <p>Override the Bootstrap variables colors</p>
        <ul>
            <li>
                <p class="text-primary">$primary: #007bff;</p>
            </li>
            <li>
                <p class="text-secondary">$secondary: #6c757d;</p>
            </li>
            <li>
                <p class="text-success">$success: #28a745;</p>
            </li>
            <li>
                <p class="text-info">$info: #17a2b8;</p>
            </li>
            <li>
                <p class="text-warning">$warning: #ffc107;</p>
            </li>
            <li>
                <p class="text-danger">$danger: #dc3545;</p>
            </li>
        </ul>
        <br>
        <p>And then use this page to <a href="http://mcg.mbitson.com/">http://mcg.mbitson.com/</a> to generate
            new theme for angular material.
        </p>
        <p>Override the Angular Material variables colors</p>
        <ul>
            <li>
                <p class="text-primary">md-matprimary: #007bff;</p>
            </li>
            <li>
                <p class="text-secondary">md-matsecondary: #6c757d;</p>
            </li>
            <li>
                <p class="text-success">md-matsuccess: #28a745;</p>
            </li>
            <li>
                <p class="text-info">md-matinfo: #17a2b8;</p>
            </li>
            <li>
                <p class="text-warning">md-matwarning: #ffc107;</p>
            </li>
            <li>
                <p class="text-danger">md-matdanger: #dc3545;</p>
            </li>
        </ul>
    </div>
</div>