<div class="row">
    <div class="col-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.
        </p>
    </div>
</div>
<app-form-cuentas [cuentas]="cuentas"></app-form-cuentas>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <div class="center d-flex flex-row">
            <div class="p-2 bd-highlight">
                <button (click)="crearCuenta()" mat-fab color="success" matTooltip="Agregar">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>