<div class="row">
    <div class="col-12">
        <p>Crea cuentas de pagos especificas para que los alumnos puedan realizar sus pagos. Para crear una cuenta presiona el boton agregar y llene los datos. Presiona la tarjeta de una cuenta para editar su información.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <div class="center d-flex flex-row">
            <div class="p-2 bd-highlight">
                <button (click)="crearCuenta()" name="agregarCuentaPagos" mat-fab color="success" matTooltip="Agregar">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<app-form-cuentas [cuentas]="cuentas"></app-form-cuentas>
