<div class="col-12 pb-1">
    <h4>{{ seccion?.nombre }}</h4>
    <hr>
</div>
<div class="col-12">
    <!-- CONTAINER PRUEBA -->
    <ng-container #itemsContainer></ng-container>
    <!-- TEMPLATE PRUEBA -->
    <ng-template #item let-item="item" let-index="index">
        <div class="row">
            <div class="col-12">
                <b>{{index+1}}. </b> <ng-katex-html [html]="item.enunciado"></ng-katex-html>
                <div *ngIf="item.img" class="ml-3 img-fluid">
                    <img [src]="item.img"> 
                </div>
            </div>
            <div class="col-12 ml-3 pt-2 pb-3">
                <table class="table table-sm table-borderless" [class.table-error]="error">
                    <tbody>
                        <mat-radio-group [(ngModel)]="respuestas[index]" color="primary"><tr *ngFor="let opcion of item.opciones; let j = index; trackBy: trackByIdOpcion" class="hover">
                                <td class="col-1" style="width: 25px;">
                                    <mat-radio-button class="example-radio-button" [value]="opcion.id" (change)="changeValue(opcion, index, j)">
                                    </mat-radio-button>
                                </td>
                                <td (click)="changeValue(opcion, index, j)" class="col-10">
                                    <ng-katex-html [html]="opcion.enunciado"></ng-katex-html>
                                    <div *ngIf="opcion.img" class="img-fluid">
                                        <img [src]="opcion.img"> 
                                    </div>
                                </td>
                            </tr>
                        </mat-radio-group>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-template>
    
</div>