<div class="row">
  <div class="col-12">
    <h1>Form and validation</h1>
  </div>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" mat-button routerLink="home">Home</a></li>
    <li class="breadcrumb-item"><a href="#" mat-button routerLink="home">Home</a></li>
    <li class="breadcrumb-item"><a href="#" mat-button routerLink="home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"> <a mat-button disabled>Form and validation</a></li>
  </ol>
</nav>

<hr>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <mat-form-field appearance="legacy">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="col-6">
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>mail</mat-icon>
      <mat-hint>mail</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-hint>mail</mat-hint>
    </mat-form-field>
  </div>
</div>