<div class="row animated fadeIn">
  <div class="col-12 col-md-4 form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input [(ngModel)]="user.name" type="{{field.type}}" matInput placeholder="Insert your name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Only letters </mat-hint>
    </mat-form-field>
  </div>

  <div class="col-12 col-md-4 form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Last name</mat-label>
      <input [(ngModel)]="user.lastName" matInput placeholder="Insert your name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Only letters </mat-hint>
    </mat-form-field>
  </div>
  <div class="col-12 col-md-4 form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="user.email" matInput placeholder="Placeholder">
      <mat-icon matSuffix>mail</mat-icon>
      <mat-hint>Valid mail direction</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-12 col-md-4 form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Phone number</mat-label>
      <input [(ngModel)]="user.phoneNumber" matInput type="number" placeholder="Insert your name">
      <mat-icon matSuffix>phone</mat-icon>
      <mat-hint>Only numbers </mat-hint>
    </mat-form-field>
  </div>
  <div class="col-12 col-md-4 form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input [(ngModel)]="user.password" matInput placeholder="Placeholder">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-hint>Use alphanumeric characters</mat-hint>
    </mat-form-field>
  </div>
</div>
<div class="row text-right">
  <div class="col-12">
    <button mat-stroked-button color="accent" data-toggle="modal" data-target="#exampleModal">Modal Bootstrap</button>
    <button mat-stroked-button color="primary" (click)="openDialog()">Dialog Material</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>