<div class="contrainer">
        <div class="row">
            <div class="col-12 text-center">
                <div mat-dialog-title> <h3> {{ titulo }} </h3>  </div>
                <hr>
            </div>
            <div class="col-12">
                <div mat-dialog-content> 
                    <form [formGroup]="fgAplicacion" class="row">
                        <div class="col-12"><p><b>Parámetros de la aplicación</b></p></div>
                        <!-- NOMBER -->
                        <div class="col-12 col-md-4 form-group" *ngIf="isMain">
                            <mat-form-field appearance="legacy">
                                <mat-label>Nombre</mat-label>
                                <input formControlName="nombre" rows="4" name="nombre" id="nombre" matInput placeholder="Escribe el nombre" required>
                                <mat-error *ngIf="nombre.hasError('required')">{{ MJS_ERROR_REQUERIDO }}</mat-error>
                                <mat-error *ngIf="nombre.hasError('pattern')">{{MJS_ERROR_REGEX_ALPHANUMERICO_CON_ESPACIOS_Y_PUNTUACION}} </mat-error>
                                <mat-icon matSuffix>playlist_add_check </mat-icon>
                            </mat-form-field>
                        </div>
                        <!-- ACIERTOS -->
                        <div class="col-12 col-md-4 form-group" *ngIf="isMain">
                            <mat-form-field appearance="legacy">
                                <mat-label>Aciertos</mat-label>
                                <input type="number" min="0" formControlName="aciertos" rows="4" name="aciertos" id="aciertos" matInput placeholder="Escribe el aciertos" required>
                                <mat-error *ngIf="aciertos.hasError('min')"> Mínimo de aciertos 0 </mat-error>
                                <mat-error *ngIf="aciertos.hasError('required')">{{ MJS_ERROR_REQUERIDO }}</mat-error>
                                <mat-error *ngIf="aciertos.hasError('pattern')">Sólo valores positivos</mat-error>
                                <mat-icon matSuffix>spellcheck </mat-icon>
                            </mat-form-field>
                        </div>
                        <!-- DURACION -->
                        <div class="col-12 col-md-4 form-group" *ngIf="isMain"> 
                            <input-hora formControlName="duracion" [titulo]="'Duración'"></input-hora>
                        </div>
                        <div class="col-12"><hr></div>
                        <!-- EVALUACIONES -->
                        <div class="col-12" *ngIf="isMain">
                            <p><b>Evaluaciones disponibles:</b></p>
                            <app-lista-evaluaciones formControlName="evaluaciones" [evaluaciones]="evaluacionesCat" [error]="evaluaciones.hasError('required')"></app-lista-evaluaciones>
                            <mat-error class="mat-table-error" *ngIf="evaluaciones.hasError('required')" @fadeInOutDown>{{ MJS_ERROR_REQUERIDO }}</mat-error>
                            <hr>
                        </div>
                        <!-- GRUPOS -->
                        <div class="col-12">
                            <p><b>Grupos: </b></p>
                            <app-lista-grupos-aplicacion formControlName="fechasAplicacion" [gruposCat]="gruposCat" (isMain)="isMain = $event"></app-lista-grupos-aplicacion>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="col-12 py-2" *ngIf="isMain">
                <div mat-dialog-actions class="row">
                    <div class="col-12 text-right" [ngSwitch]="opc">
                        <button mat-button (click)="cerrarModal()" name="btnModalCancelar" id="btnModalCancelar">Cancelar</button>
                        <button mat-button *ngSwitchCase="'agregar'" (click)="save(fgAplicacion)" color="success" name="btnModalAgregar" id="btnModalAgregar">Agregar <mat-icon> add</mat-icon></button>
                        <button mat-button *ngSwitchCase="'actualizar'" (click)="update(fgAplicacion)" color="info" name="btnModalActualiza" id="btnModalActualiza">Actualizar <mat-icon>cached</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
</div>