<div class="contrainer">
        <div mat-dialog-title class="row">
            <div class="col-12 text-center">
                <h3> {{ titulo }} </h3>
            </div>
        </div>
        <div mat-dialog-content>
            <div class="col-12">
                <form [formGroup]="fgAplicacion" class="row">
                    <div class="col-12 col-md-6 form-group" *ngIf="isMain">
                        <mat-form-field appearance="legacy">
                            <mat-label>Nombre</mat-label>
                            <input formControlName="nombre" rows="4" name="nombre" id="nombre" matInput placeholder="Escribe el nombre" required>
                            <mat-error *ngIf="nombre.hasError('required')">{{ MJS_ERROR_REQUERIDO }}</mat-error>
                            <mat-error *ngIf="nombre.hasError('pattern')">{{MJS_ERROR_REGEX_ALPHANUMERICO_CON_ESPACIOS_Y_PUNTUACION}} </mat-error>
                            <mat-icon matSuffix>playlist_add_check </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-5 col-md-4 form-group">
                        <mat-form-field appearance="legacy">
                            <mat-label>Grupo </mat-label>
                            <mat-select formControlName="grupo" name="grupo" id="grupo" required>
                                <mat-option *ngFor="let grupo of grupos" [value]="grupo">
                                    {{ grupo.nombre }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="grupo.hasError('required')">{{ MJS_ERROR_REQUERIDO }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="isMain">
                        <b>Temas disponibles:</b>
                        <p>Agrega la opciones para esta pregunta. Ingresa un enunciado y si es necesario una imagen, después presiona 'Agregar a lista'</p>
                    </div>
                    <div class="col-12">
                        <app-lista-evaluaciones formControlName="temas" [evaluaciones]="evaluaciones" [error]="temas.hasError('required')"></app-lista-evaluaciones>
                        <mat-error class="mat-table-error" *ngIf="temas.hasError('required')" @fadeInOutDown>{{ MJS_ERROR_REQUERIDO }}</mat-error>
                    </div>
                </form>
            </div>
            <div class="col-12 py-2" *ngIf="isMain">
                <div class="row">
                    <div class="col-12 text-right" [ngSwitch]="opc">
                        <button mat-button (click)="cerrarModal()" name="btnModalCancelar" id="btnModalCancelar">Cancelar</button>
                        <button mat-button *ngSwitchCase="'agregar'" (click)="save(fgAplicacion)" color="success" name="btnModalAgregar" id="btnModalAgregar">Agregar <mat-icon> add</mat-icon></button>
                        <button mat-button *ngSwitchCase="'actualizar'" (click)="update(fgAplicacion)" color="info" name="btnModalActualiza" id="btnModalActualiza">Actualizar <mat-icon>cached</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
</div>