<div class="container animated-row pb-4">
    <div class="row">
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-3 op-pago">
            <mat-form-field>
                <mat-label>Opción de pago</mat-label>
                <mat-select formControlName="tipo" name="tipoDato" id="tipoDato" (selectionChange)="onChangeCuenta($event.value)" required>
                    <mat-option *ngFor="let cuenta of cuentaPagos"  [value]="cuenta">
                        {{cuenta.banco | uppercase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6 offset-3">
            <div class="card no-border mat-elevation-z3">
                <div class="card-header text-center">
                    <h5 class="m-0">Información de la cuenta</h5>
                </div>
                <div *ngIf="cuentaSelec == null; else elseBlock" class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 text-center">
                            <h6 class="m-0">Escoje una opción de pago</h6>
                        </div>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-12 line">
                                <span class="bold">Banco: </span>{{ cuentaSelec.banco }}
                            </div>
                            <div class="col-12 col-md-12 line">
                                <span class="bold">Número de cuenta: </span>{{ cuentaSelec.noCuenta }}
                            </div>
                            <div *ngFor="let datoAds of cuentaSelec.datosAds;"  class="col-12 col-md-12 line">
                                <span class="bold">{{ datoAds.nombreCampo }}: </span>{{ datoAds.contenido }}
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>