<div class="container animated-row pb-4">
    <div class="row">
        <div class="col-12">
            <p>Consulta los datos para realizar tu pago, selecciona uno de los bancos disponibles en las siguientes opciones. Una vez hecho el pago, sube la evidencia en la sección "Subir Evidencia de Pago".</p>
        </div>
    </div>
    <div class="row">
        <div *ngIf="sinCuentaPagos; else elseBlockAlert" class="col-12">
            <div class="alert alert-warning" role="alert" [ngSwitch]="estadoPago">
                <div *ngIf="grupoId==''; else elseBlockAlertContent" class="col-12 pt-2">
                    <h4  class="alert-heading">Sin grupo inscrito</h4>
                    <p >Favor de inscribir a un grupo para poder consultar tu formato de pago.</p>
                </div>
                <ng-template #elseBlockAlertContent>
                    <div class="col-12 pt-2">
                        <h4 class="alert-heading">Sin formato de pago asociado</h4>
                        <p>No existe un formato de pago asociado a tu grupo inscrito, favor de revisar mas tarde.</p>
                    </div>
                </ng-template>
            </div>
            <br>
        </div>
        <ng-template #elseBlockAlert>
            <div class="col-3 offset-3 op-pago">
                <mat-form-field>
                    <mat-label>Opción de pago</mat-label>
                    <mat-select formControlName="tipo" name="tipoDato" id="tipoDato" (selectionChange)="onChangeCuenta($event.value)" required>
                        <mat-option *ngFor="let cuenta of cuentaPagos"  [value]="cuenta">
                            {{cuenta.banco | uppercase }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6 offset-3 op-pago">
                <div class="card no-border mat-elevation-z3">
                    <div class="card-header text-center">
                        <h5 class="m-0">Información de la cuenta</h5>
                    </div>
                    <div *ngIf="cuentaSelec == null; else elseBlock" class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-12 text-center">
                                <h6 class="m-0">Escoje una opción de pago</h6>
                            </div>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-12 line">
                                    <span class="bold">Banco: </span>{{ cuentaSelec.banco }}
                                </div>
                                <div class="col-12 col-md-12 line">
                                    <span class="bold">Número de cuenta: </span>{{ cuentaSelec.noCuenta }}
                                </div>
                                <div class="col-12 col-md-12 line">
                                    <span class="bold">Cantidad de pago: </span>${{ cuentaSelec.cantidad }}
                                </div>
                                <div *ngFor="let datoAds of cuentaSelec.datosAds;"  class="col-12 col-md-12 line">
                                    <span class="bold">{{ datoAds.nombreCampo }}: </span>{{ datoAds.contenido }}
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div *ngIf="cuentaSelec" style="padding-bottom: 5px;"class="col-3 offset-6 text-right">
                <button mat-raised-button color="info" name="btnIrAEvidenciaPago" [routerLink]="['/app/pagos/evidenciar-pago']" >Subir Evidencia Pago</button>
            </div>
            <div  *ngIf="cuentaSelec" class="col-3 offset-6 text-right">
                <button mat-flat-button color="info" name="btnImprimirPantalla" (click)="imprimirPantalla()" >Imprimir <mat-icon>print</mat-icon></button>
            </div>
        </ng-template>
    </div>
    <div class="row">
        <div class="col-12 text-right return">
            <button name="btnRegresar" type="submit" type="submit" [routerLink]="['/app/pagos']" mat-button color="info">
                    Regresar <mat-icon>undo</mat-icon> 
            </button>
        </div>
    </div>
</div>