<div class="container animated-row pb-4">
    <div class="row">
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row" id="htmlData" #htmlData>
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card no-border mat-elevation-z3">
                <div class="card-header text-center">
                    <h5 class="m-0">Información de la cuenta</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 line">
                            <span class="bold">Banco: </span><span class="data">Banxico</span>
                        </div>
                        <div class="col-12 col-md-12 line">
                            <span class="bold">Número de cuenta: </span><span class="data">12341234123412341234</span>
                        </div>
                        <div class="col-12 col-md-12 line">
                            <span class="bold">Referencia: </span><span class="data">Chocomil</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>