<div class="container" [ngSwitch]="seccionActivada">
    <div class="row" *ngSwitchCase="'secciones'" @fadeInLeft>
        <div class="col-12">
            <b>Instrucciones:</b>
            <p>Agrega secciones y posteriormente preciona la opcion 'Gestionar temas' <mat-icon>sort</mat-icon> para agregar temas a esa sección</p>
        </div>
        <div class="col-12">
            <app-tabla [columnas]="tablaSecciones" [datos]="secciones"
                [isSave]="true" (save)="modalAgregarSeccion()"
                [isCustom]="true" [customDesc]="'Gestionar temas'" [customIcon]="'sort'" (custom)="showSeccion($event)"
                [isUpdate]="true" (update)="modalActualizarSeccion($event)"
                [isDelete]="true" (delete)="modalEliminarSeccion($event)"></app-tabla>
        </div>
    </div>


    <div class="row" *ngSwitchCase="'temas'" @fadeInLeft>
        <div class="col-12">
            <b>Instrucciones:</b>
            <p>Agrega temas y posteriormente preciona la opcion 'Gestionar preguntas' <mat-icon>grading</mat-icon> para agregar preguntas a ese tema</p>
        </div>
        <div class="col-12">
            <app-tabla [columnas]="tablaTemas" [datos]="temas"
                [isSave]="true" (save)="modalAgregarTema()"
                [isCustom]="true" [customDesc]="'Gestionar preguntaas'" [customIcon]="'grading'" (custom)="showTema($event)"
                [isUpdate]="true" (update)="modalActualizarTema($event)"
                [isDelete]="true" (delete)="modalEliminarTema($event)"></app-tabla>
        </div>
        <div class="container">
            <div class="d-flex justify-content-end">
                <div class="button-bottom">
                    <div class="button-right">
                        <button mat-raised-button type="button" color="danger" class="btn-lg mx-2" (click)="cancelarTema()">Regresar <mat-icon>undo</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <form class="row" *ngSwitchCase="'pregunta'" @fadeInLeft>
        <div class="col-12">
            <h3>{{titulo}}</h3>
        </div>
        <div class="col-12 pb-3">
            <p class="mb-0">Agrega las preguntas relacionadas a este tema presionando el botón de 'Agregar pregunta', o editalas usando el botón de 'Editar' debajo de cada pregunta</p>
        </div>
        <div class="col-12 pb-5">
            <app-crear-simulador [tema]="tema" (onCancelar)="cancelarPreguntas($event)"></app-crear-simulador>
        </div>
    </form> 

</div>
