<div class="container" *ngIf="isMain; else Pregunta" @fadeInRight>
    <div class="row">
        <div class="col-12">
            <b>Instrucciones:</b>
            <p>Agrega temas y posteriormente preciona la opcion 'Gestionar preguntas' <mat-icon>grading</mat-icon> para agregar preguntas a ese tema</p>
        </div>
        <div class="col-12">
            <app-tabla [columnas]="tablaTemas" [datos]="temas"
                [isSave]="true" (save)="modalAgregarTema()"
                [isCustom]="true" [customDesc]="'Gestionar preguntaas'" [customIcon]="'grading'" (custom)="showTema($event)"
                [isUpdate]="true" (update)="modalActualizarTema($event)"
                [isDelete]="true" (delete)="modalEliminarTema($event)"></app-tabla>
        </div>
    </div>
</div>

<ng-template #Pregunta>
    <div class="container" @fadeInLeft>
        <div class="container">
            <div class="d-flex justify-content-end">
                <div class="button-bottom">
                    <div class="button-right">
                        <button mat-raised-button type="button" color="danger" class="btn-lg mx-2" (click)="cancelarPreguntas()">Regresar <mat-icon>undo</mat-icon></button>
                        <button mat-raised-button type="button" color="success" class="btn-lg mx-2" (click)="modalAgregarTema()">Agregar pregunta <mat-icon>add</mat-icon></button>
                        <button mat-raised-button type="button" color="success" (click)="isMain = !isMain">Finalizar <mat-icon>done</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <form class="row">
            <div class="col-12">
                <h3>{{titulo}}</h3>
            </div>
            <div class="col-12">
                <p>Agrega las preguntas relacionadas a este tema precionando el botón de '+'.</p>
                
                <app-crear-simulador [preguntas]="preguntas"></app-crear-simulador>
            </div>
            
            <div class="col-12">
                
                Hola
                {{ tema | json}}
            </div>
        </form>        
    </div>
</ng-template>