<div class="container animated-row pb-4">
    <!-- <div class="row">
        <div class="col-12">
            <p>Edita la información de tu cuenta.</p>
        </div>
    </div> -->
    <div class="row">
        <div class="col-12">
            <div class="card no-border mat-elevation-z3">
                <div class="card-header text-center">
                    <h5 class="m-0">Formulario para editar tu información</h5>
                </div>
                <div class="card-body">
                    <h5>Información de la cuenta</h5>
                    <form [formGroup]="fgUser">
                        <div class="row">
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Nombre(s)</mat-label>
                                    <input matInput formControlName="nombres" type="nombres" id="nombres" name="nombres" (change)="btnActualizar = true;" required>
                                    <mat-icon matSuffix>text_fields</mat-icon>
                                    <mat-error *ngIf="fgUser.get('nombres').invalid">{{getNombreErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Apellido(s)</mat-label>
                                    <input matInput formControlName="apellidos" type="apellidos" id="apellidos" name="apellidos" (change)="btnActualizar = true;" required>
                                    <mat-icon matSuffix>text_fields</mat-icon>
                                    <mat-error *ngIf="fgUser.get('apellidos').invalid">{{getApellidoErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-right">
                                <button name="btnActualizarInfoAdmin" type="submit" type="submit" mat-button color="info" (click)="actualizarInformacion(fgUser)" [disabled]="!btnActualizar"> Actualizar <mat-icon>cached</mat-icon> 
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <h5>Actualizar Contraseña</h5>
                    <form [formGroup]="fgPassword" #formDirective="ngForm">
                        <div class="row">
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Contraseña Actual</mat-label>
                                    <input matInput formControlName="prevPassword" type="prevPassword" id="prevPassword" name="prevPassword" [type]="hidePrev ? 'password' : 'text'" placeholder="****" required>
                                    <button type="button" mat-icon-button matSuffix (click)="hidePrev = !hidePrev"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePrev">
                                        <mat-icon>{{hidePrev ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="fgPassword.get('prevPassword').hasError('required')"> Este campo es requerido </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Nueva Contraseña</mat-label>
                                    <input matInput formControlName="password" type="password" id="password" name="password" [type]="hide ? 'password' : 'text'" placeholder="****"  required>
                                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="fgPassword.get('password').hasError('required')"> Este campo es requerido </mat-error>
                                    <mat-error *ngIf="fgPassword.get('password').touched && fgPassword.get('password').hasError('minlength')">
                                        La longitud debe ser de almenos 6 caracteres
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Repita la nueva contraseña</mat-label>
                                    <input matInput formControlName="passwordRepeat" type="newPasswordRepeat" id="newPasswordRepeat" [type]="hide ? 'password' : 'text'" placeholder="****"  required>
                                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="fgPassword.get('passwordRepeat').invalid">{{getErrorNotMatch()}}</mat-error>
                                    <mat-error *ngIf="fgPassword.get('passwordRepeat').touched && fgPassword.get('passwordRepeat').hasError('minlength')">
                                        La longitud debe ser de almenos 6 caracteres
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-right">
                                <button name="btnActualizarPassword" type="submit" type="submit" mat-button color="info" (click)="updatePassword(fgPassword,formDirective)" [disabled]="fgPassword.invalid">Cambiar Contraseña<mat-icon>cached</mat-icon> 
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr>

                    <div class="row">
                        <div class="col-12 text-right">
                            <button name="btnRegresar" type="submit" type="submit" [routerLink]="['/app/usuarios/gestion-admon']" mat-button color="warning">
                                    Regresar <mat-icon>undo</mat-icon> 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>