.mat-card .mat-card-header .mat-card-header-text {
  margin: 0px !important;
}
.card {
  cursor: pointer;

  .body {
    padding: 0px;
  }
}

/* Postion icon card*/
span .mat-icon {
  position: relative;
}
.icon-position {
  top: 4px !important;
}

/* Disabled Card*/
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 4000;
  display: flex;
  align-items: center;
  justify-content: center;
}
