<div class="container animated-row pb-4">
    <div class="row">
        <div class="col-12">
            <p>Sube la evidencía de tu pago en formato pdf para que pueda ser revisado por la institutción. Puedes revisar si tu pago fue validado en esta sección.</p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12 text-center">
            <button mat-raised-button color="info" name="btnIrAEvidenciaPago">Subir Evidencia Pago <mat-icon>arrow_circle_up</mat-icon></button>
        </div>
    </div> -->
    <app-drag-and-drop-files
        [multipleFiles]="false" [typeFiles]="['application/pdf']" [titleBox]="'Arrastra y suelta el fórmato de pago.'" 
        (sendFiles)="subirArchivo($event)" (singleFileDropError)="singleFileDropError()" 
        (fileLimitUploadError)="fileLimitUploadError()" (typeFilesError)="typeFilesError()">
    </app-drag-and-drop-files>
</div>