<div class="container animated-row pb-4">
    <div class="row">
        <div *ngIf="estadoPago == estadosPagos.PENDIENTE; else elseBlock" class="col-12">
            <p>Sube la evidencía de tu pago para que pueda ser revisado por la institución. Puedes revisar si tu pago fue validado en esta sección.</p>
            <p>La evidencía de tu pago debe estar en formato <strong>pdf</strong> y no debe pesar más de <strong>1000 KB.</strong></p>
        </div>
        <div *ngIf="estadoPago == estadosPagos.INVALIDA;" class="col-12">
            <p>La evidencía de tu pago debe estar en formato <strong>pdf</strong> y no debe pesar más de <strong>1000 KB.</strong></p>
        </div>
        <ng-template #elseBlock>
            <div class="col-12">
                <div class="alert" [ngClass]="{
                    'alert-info': estadoPago === estadosPagos.REVISION,
                    'alert-warning': estadoPago === estadosPagos.INVALIDA,
                    'alert-success': estadoPago === estadosPagos.VALIDADA  }" role="alert" [ngSwitch]="estadoPago">
                    <div class="col-12 pt-2">
                        <h4 class="alert-heading">Estado de mi evidencia de pago</h4>
                        <p *ngSwitchCase="estadosPagos.REVISION">
                            Tu evidencia de pago esta siendo revisada.
                        </p>
                        <p *ngSwitchCase="estadosPagos.INVALIDA">
                            Tu evidencia de pago no fue validada, revise los comentarios y vuelva a enviar su evidencia.
                        </p>
                        <p *ngSwitchCase="estadosPagos.VALIDADA">
                            Tu evidencia de pago fue validada.
                        </p>
                    </div>
                    <div class="col-12" *ngSwitchCase="estadosPagos.INVALIDA">
                        <hr>
                        <p class="mb-0">{{ comentarios }}</p>
                    </div>
                </div>
                <br>
            </div>
        </ng-template>
    </div>

    <app-drag-and-drop-files *ngIf="estadoPago == estadosPagos.PENDIENTE || estadoPago == estadosPagos.INVALIDA"
        [multipleFiles]="false" [typeFiles]="['application/pdf']" [titleBox]="'Arrastra y suelta el fórmato de pago.'" 
        (sendFiles)="subirArchivo($event)" (componentError)="componentError($event)">
    </app-drag-and-drop-files>

    <div class="row">
        <div class="col-12 text-right return">
            <button name="btnRegresar" type="submit" type="submit" [routerLink]="['/app/pagos']" mat-button color="info">
                    Regresar <mat-icon>undo</mat-icon> 
            </button>
        </div>
    </div>

</div>