<div class="container animated-row pb-4">
    <div class="row">
        <div class="col-12" *ngIf="!existDefinirEtapas">
            <div class="alert alert-warning" role="alert">
                <div class="col-12 pt-2">
                    <h4 class="alert-heading">No se han definido aún las etapas</h4>
                    <a mat-flat-button color="warning" [routerLink]="linkDefinirEtapas" >Definir etapas <mat-icon>navigate_next</mat-icon></a>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="row" *ngIf="existDefinirEtapas">
        <div class="col-12">
            <div class="card no-border mat-elevation-z3">
                <div class="card-header text-center">
                    <h5 class="m-0">Formulario para definir etapas</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="fgEtapasFechas" *ngIf="etapas.length != 0">
                        <div class="row" *ngFor="let etapa of etapas; let i = index" formGroupName="{{etapa.valor}}">
                            <hr>
                            <div class="col-12 col-sm-6 col-md-3 form-group">
                                <mat-form-field>
                                    <mat-label>Etapa</mat-label>
                                    <input matInput formControlName="nombre" readonly>
                                    <mat-icon class="material-icons-outlined" matSuffix>assignment</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-6 col-md-3 form-group">
                                <input-fecha formControlName="fechaInicio" [label]="'Fecha Inicio'" [startView]="'year'" required></input-fecha>
                            </div>
                            <div class="col-12 col-sm-6 col-md-3 form-group">
                                <input-fecha formControlName="fechaTermino" [label]="'Fecha Termino'" [startDate]="false"
                                    [minDate]="fgEtapasFechas.get(etapa.valor).get('fechaInicio').value" required></input-fecha>
                            </div>
                            <div class="col-12 col-sm-6 col-md-3 form-group">
                                <mat-form-field>
                                    <mat-label>Color</mat-label>
                                    <mat-select formControlName="color">
                                        <mat-option *ngFor="let color of colores" [value]="color">
                                            {{color.nombre | titlecase }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon class="material-icons-outlined" matSuffix>color_lens</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-12 text-right pt-2">
                            <button mat-button name="btnPintar" id="btnPintar" color="info" (click)="definirFechas()">
                                Pintar en calendario <mat-icon class="material-icons-outlined"> event_note </mat-icon>
                            </button>
                            <button mat-button name="btnDefinir" id="btnDefinir" color="success" (click)="saveFechas()">Definir <mat-icon
                                    class="material-icons-outlined">event_available
                                </mat-icon></button>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
        <div class="col-12">
            <app-calendario [dataSource]="dataSource"></app-calendario>
        </div>
    </div>

</div>