<div class="container animated-row pb-4">
    <div class="row" @fadeInDown>
        <div class="col-12" *ngIf="existDefinirEtapas">
            <div class="alert alert-warning" role="alert">
                <div class="col-12 pt-2">
                    <h4 class="alert-heading">Ya habías definido las etapas previamente: </h4>
                    <ul>
                        <li *ngFor="let etapa of etapasPrevias"> {{ etapa.nombre }}</li>
                    </ul>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-vertical-stepper [disableRipple]="true" [linear]="isLinear" #stepper>
                <!-- PASO 1 -->
                <mat-step [stepControl]="fgEtapaUsar">
                    <ng-template matStepLabel>Etapas necesarias</ng-template>
                    <div class="col-12">
                        <p>Selecciona las etapas que tendra el proceso de admisión. <b>NOTA: Las etapas de 'Convocatoria' y 'Registro' son obligatorias.
                            Para seleccionar 'Publicación de Resultados' debes tener al menos una de las otras etapas.</b></p>
                    </div>
                    <form [formGroup]="fgEtapaUsar">
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="card border-info">
                                <div class="card-header bg-info text-white">
                                    <b>Etapas</b>
                                </div>
                                <mat-selection-list formControlName="etapas" name="etapasDisponibles" id="etapasDisponibles">
                                    <mat-list-option *ngFor="let etapa of etapasDisponibles; let i = index"
                                        [value]="etapa" name="boxEtapa">
                                        {{ etapa.nombre }}
                                    </mat-list-option>
                                </mat-selection-list>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 text-right pt-2">
                            <button mat-flat-button color="info" name="btnPaso2" id="btnPaso2" (click)="definirEtapas(stepper)"
                                [disabled]="fgEtapaUsar.invalid">Siguiente<mat-icon>navigate_next
                                </mat-icon></button>
                        </div>
                    </form>
                </mat-step>
                <!-- PASO 2 -->
                <mat-step>
                    <ng-template matStepLabel>Ordena las etapas</ng-template>
                    <div class="col-12">
                        <p>Arrastra y ordena las etapas según el orden en que quieras que se lleven a cabo.</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 py-1">
                        <div class="card border-info">
                            <div class="card-header bg-info text-white">
                                Etapas
                            </div>
                            <ul cdkDropList (cdkDropListDropped)="onDrop($event)" class="list-group list-group-flush">
                                <li *ngFor="let etapa of etapas; let i = index" class="list-group-item" cdkDrag>
                                    {{i+1}} {{etapa.nombre}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 text-right pt-2">
                        <button mat-flat-button name="btnRegPaso1" id="btnRegPaso1" matStepperPrevious>
                            <mat-icon> navigate_before </mat-icon> Anterior
                        </button>
                        <button mat-flat-button color="info" name="btnPaso3" id="btnPaso3" matStepperNext>Siguiente
                            <mat-icon>navigate_next</mat-icon></button>
                    </div>
                </mat-step>
                <!-- PASO 3 -->
                <mat-step>
                    <ng-template matStepLabel>Finalizar</ng-template>
                    <div class="col-12">
                        <p>A continuación define las fechas de las etapas.</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 text-right pt-2">
                        <button mat-flat-button name="btnRegPaso2" id="btnRegPaso2" matStepperPrevious>
                            <mat-icon> navigate_before </mat-icon> Anterior
                        </button>
                        <button mat-flat-button color="success" name="btnFinalizar" id="btnFinalizar" (click)="finalizarStepper()" matStepperNext>Finalizar
                            <mat-icon>check</mat-icon></button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
    </div>

</div>