<div class="container animated-row pb-4">
    <div class="row">
        <div class="col-12">
            <p>Agrega la información y permisos del nuevo administrador.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card no-border mat-elevation-z3">
                <form [formGroup]="fgAdmin">
                    <div class="card-header text-center">
                        <h5 class="m-0">Formulario para registrar nuevo administrador</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Nombre(s)</mat-label>
                                    <input matInput formControlName="nombres" type="nombres" id="nombres" name="nombres"
                                        placeholder="Introduce su(s) nombre(s)" required>
                                    <mat-icon matSuffix>text_fields</mat-icon>
                                    <mat-error *ngIf="fgAdmin.get('nombres').invalid">{{getNombreErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Apellido(s)</mat-label>
                                    <input matInput formControlName="apellidos" type="apellidos" id="apellidos"
                                        name="apellidos" placeholder="Introduce su(s) apellido(s)" required>
                                    <mat-icon matSuffix>text_fields</mat-icon>
                                    <mat-error *ngIf="fgAdmin.get('apellidos').invalid">{{getApellidoErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email" type="email" id="email" name="email"
                                        placeholder="Introduce tu correo" required>
                                    <mat-icon matSuffix>mail</mat-icon>
                                    <mat-error *ngIf="fgAdmin.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput id="password" formControlName="password" name="password"
                                        placeholder="****" [type]="hide ? 'password' : 'text'" required>
                                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="fgAdmin.get('password').hasError('required')"> Debes ingresar un
                                        valor </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Repetir Contraseña</mat-label>
                                    <input matInput id="passwordRepeat" formControlName="passwordRepeat"
                                        name="passwordRepeat" placeholder="****" [type]="hide ? 'password' : 'text'"
                                        required>
                                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="fgAdmin.get('passwordRepeat').invalid">{{getErrorNotMatch()}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <hr>
                        <h5>Permisos del administrador</h5>
                        <div class="row">
                            <div class="col-12 col-md-4 form-group">
                                <section class="example-section mt-3">
                                    <mat-slide-toggle [(ngModel)]="gusuarios" [ngModelOptions]="{standalone: true}"
                                        color="accent">Gestión de usuarios</mat-slide-toggle>
                                </section>
                                <mat-hint class="toggle-hint">Permite gestionar las cuentas de los administradores de la institución y 
                                    revisar los aspirantes registrados.</mat-hint>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <section class="example-section mt-3">
                                    <mat-slide-toggle [(ngModel)]="getapas" [ngModelOptions]="{standalone: true}"
                                        color="accent">Gestión de etapas</mat-slide-toggle>
                                </section>
                                <mat-hint class="toggle-hint">Permite gestionar el orden y fechas de las etapas de la convocatoria.</mat-hint>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <section class="example-section mt-3">
                                    <mat-slide-toggle [(ngModel)]="gpagos" [ngModelOptions]="{standalone: true}"
                                        color="accent">Gestión de pagos</mat-slide-toggle>
                                </section>
                                <mat-hint class="toggle-hint">Permite revisar el área de pagos.</mat-hint>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <section class="example-section mt-3">
                                    <mat-slide-toggle [(ngModel)]="gconvocatoria" [ngModelOptions]="{standalone: true}"
                                        color="accent">Gestión de convocatoria</mat-slide-toggle>
                                </section>
                                <mat-hint class="toggle-hint">Permite revisar y editar el área de convocatoria.</mat-hint>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <section class="example-section mt-3">
                                    <mat-slide-toggle [(ngModel)]="gevaluacion" [ngModelOptions]="{standalone: true}"
                                        color="accent">Gestión de evaluación</mat-slide-toggle>
                                </section>
                                <mat-hint class="toggle-hint">Permite revisar y editar el área de evaluación.</mat-hint>
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <section class="example-section mt-3">
                                    <mat-slide-toggle [(ngModel)]="gdocumentacion" [ngModelOptions]="{standalone: true}"
                                        color="accent">Gestión de documentación</mat-slide-toggle>
                                </section>
                                <mat-hint class="toggle-hint">Permite validar y administrar la información solicitada a los aspirantes.</mat-hint>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-right">
                                <button type="submit" type="submit" [routerLink]="['/app/usuarios/gestion-admon']" 
                                    mat-button color="danger"> Cancelar <mat-icon>close</mat-icon> </button>
                                <button type="submit" type="submit" (click)="enviarFormulario(fgAdmin)" mat-button
                                    color="success"> Finalizar <mat-icon>done</mat-icon> </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>