<div class="container animated-row pb-4">
    <div class="row">
        <div class="col-12">
            <p>Agrega la información y permisos del nuevo administrador.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card no-border mat-elevation-z3">
                <div class="card-header text-center">
                    <h5 class="m-0">Formulario para registrar nuevo administrador</h5>
                </div>
                <div class="card-body">
                <!-- <app-form-requisitos [tipoForm]="'agregar'" (enviarForm)="addTipoDato($event)"></app-form-requisitos> -->
                </div>
            </div>
        </div>
    </div>