.two-point{
    padding: 0 !important;
    margin-top: 0.94375em;
}

.titulo{
    font-size: 0.8rem !important;
    color: rgba(0, 0, 0, 0.54);
    font: inherit;
    pointer-events: none;
    height: 0 !important;
}