/* Palette color theme */
@import "assets/scss/palette.scss";

//Bootstrap imports
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/bootstrap-reboot.scss";
@import "~bootstrap/scss/bootstrap-grid.scss";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";

//This file override _theming.scss to use 'success' and 'danger'.
//If you want to add new color suppor edit the next file.
@import "assets/scss/override-angular.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$color-primary: mat-palette($md-matprimary);
$color-success: mat-palette($md-matsuccess);
$color-info: mat-palette($md-matinfo);
$color-warning: mat-palette($md-matwarning);
$color-danger: mat-palette($md-matdanger);
$color-dark: mat-palette($md-matdark);

// The warn palette is optional (defaults to red).
$color-accent: mat-palette($md-matwarning);
$color-warn: mat-palette($md-matdanger);

// Create the theme object (a Sass map containing all of the palettes).
$angular-material-theme: mat-light-theme(
  $color-primary,
  $color-success,
  $color-info,
  $color-warning,
  $color-danger,
  $color-dark,
  $color-accent,
  $color-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-material-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**************************************
    FIX BOOTSTRAP STYLE PROBLEMS
***************************************/
.mat-button:focus,
.mat-raised-button:focus,
.mat-stroked-button:focus,
.mat-flat-button:focus,
.mat-icon-button:focus,
.mat-fab:focus,
.mat-mini-fab:focus {
  outline: 0;
}

a.mat-button:hover,
a.mat-raised-button:hover,
a.mat-stroked-button:hover,
a.mat-flat-button:hover,
a.mat-icon-button:hover,
a.mat-fab:hover,
a.mat-mini-fab:hover {
  text-decoration: dashed;
}

button:focus {
  outline: none;
}

/**************************************
    FIX ANGULAR MATERIAL STYLE PROBLEMS
***************************************/
.mat-icon {
  margin-top: -4px !important;
}

.mat-form-field {
  width: 100%;
}

b {
  font-weight: 550;
}

/**************************************
    TEMPLATE STYLES
***************************************/

.highlight {
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: #f5f7f7;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Messages styles */
.mat-snack-bar-container {
  margin: 0px !important;
  position: relative !important;
  top: 58px;
  left: -5px;

  @each $color, $value in $theme-colors {
    padding: 0 !important;
    &.#{$color} {
      @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
    }
  }
}

.alert {
  margin-bottom: 0 !important;
}

/* Scrollbar theme */

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track-piece{
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	background-color:rgba(#cfcfcf, 0.8);
	outline: 2px solid #FFF;
	outline-offset: -10px;
  border: .1px solid #B7B7B7;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #B5B5B5;
}

/* Animations */
.animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
