.animated-panel {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.mat-card .mat-card-header .mat-card-header-text{
  margin: 0px !important;
}
.card .body{
  padding: 0px;
}

/* Postion icon card*/
span .mat-icon{
  position: relative;
}
.icon-position{
  top: 4px !important;
}

.hover:hover {
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;

  &:hover{
    box-shadow: inset 0 0 0 2px #2098D1, 0 0 1px rgba(0, 0, 0, 0);
  }
}