<section id="login" class="mb-5 mt-5" @moveInLeft>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-5 mx-auto">
                <div class="card_login">
                    <div class="card no-boreder mat-elevation-z3">
                        <div class="card-body text-center">
                            <form (submit)="onFinalizarRegistro(fgUsuario.value)" [formGroup]="fgUsuario">
                                <h1 class="h3 my-4 font-weight-normal">Registro de Aspirante</h1>
                                <div class="form-grup">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nombre(s)</mat-label>
                                        <input matInput formControlName="nombres" type="nombres" id="nombres"
                                            name="nombres" placeholder="Introduce tu(s) nombre(s)" required>
                                        <mat-icon matSuffix>text_fields</mat-icon>
                                        <mat-error *ngIf="fgUsuario.get('nombres').hasError('required')"> El camplo es obligatorio </mat-error>
                                        <mat-error *ngIf="fgUsuario.get('nombres').hasError('pattern')"> Sólo se aceptan letras, no deben haber espacios al principio o al final </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-grup">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Apellido(s)</mat-label>
                                        <input matInput formControlName="apellidos" type="apellidos" id="apellidos"
                                            name="apellidos" placeholder="Introduce tu(s) apellido(s)" required>
                                        <mat-icon matSuffix>text_fields</mat-icon>
                                        <mat-error *ngIf="fgUsuario.get('apellidos').hasError('required')"> El camplo es obligatorio </mat-error>
                                        <mat-error *ngIf="fgUsuario.get('apellidos').hasError('pattern')"> Sólo se aceptan letras, no deben haber espacios al principio o al final </mat-error>
                                    </mat-form-field>
                                </div>
                                <button mat-flat-button color="primary" type="submit" [disabled]="fgUsuario.invalid" class="btn-block">Finalizar</button>
                                <hr>                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>