/* Override styles */
.breadcrumb {
  padding: 0rem 0.5rem;
  background: #f4f6f7;

  .breadcrumb-item {
    + .breadcrumb-item {
      padding: 0px;
    }
    &::before {
      padding: 0px;
    }
  }

  .mat-button {
    padding: 0px 5px;
  }
}