<div class="contrainer">
    <div class="row">
        <div class="col-12 text-center">
            <h1 mat-dialog-title [ngSwitch]="opc">
                <div *ngSwitchCase="'agregar'"> Agregar Pregunta </div>
                <div *ngSwitchCase="'actualizar'"> Editar Pregunta </div>
            </h1>
        </div>
        <div class="col-12">
            <div mat-dialog-content>
                <form [formGroup]="fgPregunta" class="row">
                    <div class="col-12" *ngIf="isMain">
                        <b>Pregunta:</b>
                        <p>Agrega la pregunta y si lo deseas una imagen. Si necesitas agregar expresiones matématicas en tu enunciado, consultar esta información
                            <button mat-icon-button color="info" matTooltip="Información" (click)="gotoInfo()" aria-label="Example icon button with a heart icon">
                                <mat-icon>help_outline</mat-icon>
                            </button></p>
                    </div>
                    <div class="col-12 form-group" *ngIf="isMain">
                        <mat-form-field appearance="legacy">
                            <mat-label>Enunciado</mat-label>
                            <textarea formControlName="enunciado" rows="4" name="enunciado" id="enunciado" matInput placeholder="Escribe el enunciado" required></textarea>
                            <mat-error *ngIf="enunciado.hasError('required')">{{ MSJ_ERROR_REQUERIDO }}</mat-error>
                            <mat-error *ngIf="enunciado.hasError('pattern')">{{MJS_ERROR_REGEX_ALPHANUMERICO_CON_ESPACIOS_Y_PUNTUACION}} </mat-error>
                            <mat-icon matSuffix>playlist_add_check </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-12 pb-5" *ngIf="isMain">
                        <div class="row">
                            <div class="col-sm-6 col-md-5">
                                <mat-form-field>
                                    <ngx-mat-file-input formControlName="img" name="imgEnunciado"
                                        placeholder="Imagen del enunciado"
                                        [accept]="'.jpg, .png, .jpeg'"
                                        [valuePlaceholder]="( img.value ) ? 'Archivo seleccionado': 'ARCHIVO NO SELECCIONADO' "
                                        (change)="handleUpload($event, 'img' )"></ngx-mat-file-input>
                                    <mat-icon class="material-icons-outlined" matSuffix>folder</mat-icon>
                                    <mat-hint class="toggle-hint"> Sólo imagenes y archivos no mayores a 1 MB </mat-hint>
                                    <mat-error *ngIf="img.hasError('required')">
                                        Este campo es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-4" *ngIf="isMain">
                        <b>Respuesta:</b>
                        <p>Selecciona el número de la opción que sera la respuesta. Antes debes de ingresar opciones</p>
                        <div class="row">
                            <div class="form-group  col-sm-6 col-md-5">
                                <mat-form-field>
                                    <mat-label>Respuesta</mat-label>
                                    <mat-select formControlName="respuesta" name="respuesta" required>
                                        <mat-option *ngFor="let opcion of opciones.value" [value]="opcion.id">
                                            {{opcion.id + 1}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="respuesta.hasError('required')"> Este campo es requerido </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="isMain">
                        <b>Opciones:</b>
                        <p>Agrega la opciones para esta pregunta. Ingresa un enunciado y si es necesario una imagen, después presiona 'Agregar a lista'</p>
                    </div>
                    <div class="col-12">
                        <app-lista-opciones formControlName="opciones" (isMain)="isMainActivated($event)"></app-lista-opciones>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="col-12 py-2 text-right" *ngIf="isMain">
            <div mat-dialog-actions>
                <div [ngSwitch]="opc" class="text-right">
                    <button mat-button (click)="cerrarModal()" name="btnModalCancelar" id="btnModalCancelar">Cancelar</button>
                    <button mat-button *ngSwitchCase="'agregar'" (click)="save(fgPregunta)" color="success" name="btnModalAgregar" id="btnModalAgregar">Agregar <mat-icon> add</mat-icon></button>
                    <button mat-button *ngSwitchCase="'actualizar'" (click)="update(fgPregunta)" color="info" name="btnModalActualiza" id="btnModalActualiza">Actualizar <mat-icon>cached</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>